﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@{
    ViewBag.Title = "Contacto";
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Contáctenos</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div class="col-lg-12 d-inline-flex">
                <div class="row col-4">
                    <div class="form-group col-md-12">
                        <h4>
                            A través de este contacto se puede solicitar....
                        </h4>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Nombre</label><span style="color:red">*</span>
                            <input id="txtNombreContacto" type="text" placeholder="Nombre" class="mr-3 col-sm-12 form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tu Correo Electrónico</label><span style="color:red">*</span>
                            <input id="txtEmailContato" type="email" placeholder="correo@correo.com" class="mr-3 col-sm-12 form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Número Telefónico</label><span style="color:red">*</span>
                            <input id="txtTelefonoContacto" type="tel" placeholder="123456789" class="mr-3 col-sm-12 form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Asunto</label>
                            <input id="txtAsunto" type="text" placeholder="Asunto" class="mr-3 col-sm-12 form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Mensaje</label>
                            <textarea id="txtMensaje" cols="5" rows="5" class="mr-3 col-sm-12 form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="form-group col-md-12">
                        <div class="brand-text">
                            <img src="~/Content/images/logo_neuvo_asocem.jpg" style="width: auto; height: 5em;" />
                        </div>
                        <br />
                        <div class="d-inline-flex">
                            <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;<p> Av. Santa Cruz N. 751, -Int. 9. Miraflores</p>
                        </div>
                        <br />
                        <div class="d-inline-flex">
                            <a href="http://www.asocem.org.pe/" class="d-inline-flex" style="color:black">
                                <i class="fa fa-internet-explorer"></i><p>&nbsp;&nbsp;www.asocem.org.pe</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-left" role="group" aria-label="Basic example">
                        <button type="button" id="btnEnviar" class="btn btn-primary small"><span class="fa fa-envelope-o"></span> Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {


        $("#btnEnviar").click(function () {

            if ($("#txtNombreContacto").val() === "") {
                toastr.warning('El campo Nombre es requerido', 'ADVERTENCIA', { timeOut: 2000 });
                $("#txtNombreContacto").focus();
                return false;

            }

            if ($("#txtEmailContato").val() === "") {
                toastr.warning('El campo Email Contacto es requerido', 'ADVERTENCIA', { timeOut: 2000 });
                $("#txtEmailContato").focus();
                return false;
            }

            if ($("#txtTelefonoContacto").val() === "") {
                toastr.warning('El campo Número Telefónico es requerido', 'ADVERTENCIA', { timeOut: 2000 });
                $("#txtTelefonoContacto").focus();
                return false;
            }

            var obj = {
                "Nombre": $("#txtNombreContacto").val(),
                "Correo": $("#txtEmailContato").val(),
                "Telefono": $("#txtTelefonoContacto").val(),
                "Asunto": $("#txtAsunto").val(),
                "Mensaje": $("#txtMensaje").val()
            };

            toastr.warning("Enviando correo...", 'Espere por favor', { timeOut: 3000 });

             $.ajax({
                method: 'POST',
                 url: '/Contacto/SendEmail',
                 data: { 'contacto': obj },
                success: function (respuesta) {

                    toastr.warning(respuesta, 'MENSAJE', { timeOut: 3000 });

                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });
        });

    });


</script>