﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    ViewBag.Title = "Diseno";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    BEProyecto proyecto = Session["proyecto.general"] as BEProyecto;
    Sistema sistema = Session["sistema.general"] as Sistema;

    var tipodiseno = sistema.idTipoDiseno == 1 ? "ASFALTO" : sistema.idTipoDiseno == 2 ? "ADOQUIN" : "CONCRETO";

    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}


<div class="card">
    <div class="card-header" id="headingSix">
        <h5 class="mb-0">
            <button id="btnCollapseSix" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                DATOS DE PROYECTO
            </button>
        </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionDiseno">
        <div class="card-body">
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo de Diseño</label>
                    <input id="hdTipoDiseno" data-id="1" type="hidden" value="@sistema.idTipoDiseno" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    <input id="txtTipodiseno" data-id="1" type="text" placeholder="Tipo de Diseño" value="@sistema.TipoDiseno" class="column_filter mr-3 col-sm-12 form-control form-control-sm" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Proyecto</label>
                    <input id="txtFechaProyecto" name="txtFechaProyecto" data-id="4" type="text" placeholder="Fecha Proyecto" value="@proyecto.Fecha_Proyecto_Date" class="column_filter mr-3 col-sm-12 form-control form-control-sm" disabled>
                </div>
                <div class="form-group col-md-4" style="display:none">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Contrato</label>
                    <input id="txtFechaContrato" name="txtFechaContrato" data-id="4" type="text" placeholder="Fecha Proyecto" value="@proyecto.Fecha_Contrato_Date" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Número de Proyecto</label>
                    <input id="txtNumProyecto" name="txtNumProyecto" data-id="1" type="text" placeholder="Número de Proyecto" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Proyecto</label>
                    <input id="txtProyecto" name="txtProyecto" data-id="1" type="text" placeholder="Proyecto" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Diseño</label>
                    <input id="txtDiseno" type="text" placeholder="Diseño" class="mr-3 col-sm-12 form-control form-control-sm">
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Ingeniero</label>
                    <input id="txtIngeniero" name="txtIngeniero" data-id="4" type="text" placeholder="Ingeniero" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tramo</label>
                    <input id="txtTramo" type="text" placeholder="Tramo" class="mr-3 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Reglamento</label>
                    @Html.DropDownList("ddlReglamento", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Departamento</label>
                    @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Provincia</label>
                    @Html.DropDownList("ddlProvincia", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Distrito</label>
                    @Html.DropDownList("ddlDistrito", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" id="btnGuardarProyDiseno" class="btn btn-primary small"><span class="fa fa-floppy-o"></span> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

    $(document).ready(function ($) {

        $('#txtFechaContrato').bootstrapMaterialDatePicker({
            format: 'DD/MM/YYYY',
            shortTime: false,
            date: true,
            time: false,
            monthPicker: false,
            year: false,
            clearButton: true,
            nowButton: false,
            switchOnClick: true,
            cancelText: 'Cancelar',
            clearText: 'Limpiar',

            okText: 'OK',
            triggerEvent: 'focus',
            lang: 'es',
            weekStart: 1,

        });

        $("#ddlDepartamento").change(function () {
            cambiaDepartamento($("#ddlDepartamento").val());
        });

        $("#ddlProvincia").change(function () {
            cambiaProvincia($("#ddlProvincia").val());
        });

        var iddiseno = $("#txtidDisenoNP").val();

        if (iddiseno === "0") {
            cambiaDepartamento($("#ddlDepartamento").val());
        }
    });

    function cambiaDepartamento(idDepartamento) {

        var provincia = $("#ddlProvincia").val();
        provincia = provincia === "" || provincia === "Espere..." || provincia === "(Selecciona)" ? "0" : provincia;

        if (objProyectoDiseno.datos_proyecto.provincia.valor_selector !== "") {

            provincia = provincia === "0" ? objProyectoDiseno.datos_proyecto.provincia.valor_selector : provincia;
        }
        else
            provincia = "0";


        var dd = document.getElementById("ddlProvincia");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlProvincia").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Departamento incorrecto");
        });


        var objData = {};
        objData["idDepartamento"] = idDepartamento;

        $.ajax({
            type: "POST",
            url: '/Home/ListaProvincias',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (provincias) {

                var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                $.each(obj, function (i, item) {
                    dd.options[i] = new Option(item.Provincia, item.Id_Provincia);
                });

                dd.disabled = false;

                $("#ddlProvincia").val(provincia);

                cambiaProvincia(provincia);
            }

        });
    }

    function cambiaProvincia(idProvincia) {


        var distrito = $("#ddlDistrito").val();
        distrito = distrito === "" || distrito === "Espere..." || distrito === "(Selecciona)" ? "0" : distrito;

        if (objProyectoDiseno.datos_proyecto.distrito.valor_selector !== "") {

            distrito = distrito === "0" ? objProyectoDiseno.datos_proyecto.distrito.valor_selector : distrito;
        }
        else
            distrito = "0";


        var dd = document.getElementById("ddlDistrito");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlDistrito").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Distrito incorrecto");
        });


        var objData = {};
        objData["idProvincia"] = idProvincia;

        $.ajax({
            type: "POST",
            url: '/Home/ListaDistritos',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (distritos) {

                var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                $.each(obj, function (i, item) {
                    dd.options[i] = new Option(item.Distrito, item.id_Distrito);
                });

                dd.disabled = false;

                $("#ddlDistrito").val(distrito);

            }

        });

    }

    function validarCamposDatosProyecto() {

       // var fechacontrato = $("#txtFechaContrato").val();
        var numproyecto = $("#txtNumProyecto").val();
        var proyecto =  $("#txtProyecto").val();
        var diseno = $("#txtDiseno").val();
        var ingeniero  = $("#txtIngeniero").val();
        var tramo = $("#txtTramo").val();
        var departamento =  $("#ddlDepartamento").val();
        var provincia = $("#ddlProvincia").val();
        var distrito = $("#ddlDistrito").val();


        //if (fechacontrato === "") {
        //    toastr.warning('El campo FECHA CONTRATO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
        //    return false;
        //}

        if (numproyecto === "") {
            toastr.warning('El campo NUMERO PROYECTO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtNumProyecto").focus();
            return false;
        }

        if (proyecto === "") {
            toastr.warning('El campo PROYECTO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtProyecto").focus();
            return false;
        }

        if (diseno === "") {
            toastr.warning('El campo DISEÑO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtDiseno").focus();
            return false;
        }

        if (ingeniero === "") {
            toastr.warning('El campo INGENIERO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtIngeniero").focus();
            return false;
        }

        if (tramo === "") {
            toastr.warning('El campo TRAMO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtTramo").focus();
            return false;
        }

        if (departamento === "0") {
            toastr.warning('El campo DEPARTAMENTO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#ddlDepartamento").focus();
            return false;
        }

        if (provincia === "0") {
            toastr.warning('El campo PROVINCIA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#ddlProvincia").focus();
            return false;
        }

        if (distrito === "0") {
            toastr.warning('El campo DISTRITO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#ddlDistrito").focus();
            return false;
        }

        return true;
    }

</script>