﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{ 
    ViewBag.Title = "Diseno";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    BEProyecto proyecto = Session["proyecto.general"] as BEProyecto;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }

    string titulo = proyecto.Id_Diseno == 0 ? "NUEVO DISEÑO" : "EDITANDO DISEÑO N.: " + proyecto.Id_Diseno;
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidDisenoNP" value="@proyecto.Id_Diseno" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />


<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">DISEÑO DE PAVIMENTOS - @sistema.TipoDiseno - @titulo</li>
                </ol>
            </nav>
        </div>
        <div class="accordion" id="accordionDiseno">
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;

        if (idTipoDiseno == 1) {
            
            $.get('@Url.Action("IndexAsfalto", "ParametrosAsfalto")', function (data) {
                $('#accordionDiseno').html(data);
            });
        }
        else if (idTipoDiseno == 2) {
            $.get('@Url.Action("IndexAdoquin", "ParametrosAdoquin")', function (data) {
                $('#accordionDiseno').html(data);
            });
        } else {
            $.get('@Url.Action("IndexConcreto", "ParametrosConcreto")', function (data) {
                $('#accordionDiseno').html(data);
            });
        }
    });

</script>

