﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@{
    ViewBag.Title = "Mantenimiento Usuarios";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="col-lg-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            Consulta de Usuarios
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="btn-group float-right" role="group">
                    <button type="button" id="btnNuevo" class="btn btn-primary" onclick="location.href='@Url.Action("MantenimientoNuevo", "Usuario")'"><span class="icon-page"></span> Nuevo Usuario</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">DNI :</label>
                        <input id="txtDNI" data-id="1" type="text" placeholder="DNI" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Apellido :</label>
                        <input id="txtApellido" data-id="1" type="text" placeholder="Apellido" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Nombre :</label>
                        <input id="txtNombre" data-id="1" type="text" placeholder="Nombre" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Estado :</label>
                        @Html.DropDownList("ddlEstado", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group">
                        <button type="button" id="btnBuscar" class="btn btn-outline-primary small"><span class="icon-page"></span> Consultar</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class=" clearfix">

            </div>
            <div class="table-responsive">
                <table id="tbUsuario" class="display">
                    <thead>
                        <tr>
                            <th class="text-sm-center" id="Usuario_Login">USUARIO/LOGIN</th>
                            <th class="text-sm-center" id="Dni">DNI</th>
                            <th class="text-sm-center" id="Apellido">APELLIDO</th>
                            <th class="text-sm-center" id="Nombre">NOMBRE</th>
                            <th class="text-sm-center" id="Direccion">DIRECCION</th>
                            <th class="text-sm-center" id="Telefono">TELEFONO</th>
                            <th class="text-sm-center" id="Correo">CORREO</th>
                            <th class="text-sm-center" id="Estado_Descripcion">ESTADO</th>
                            <th class="text-sm-center" id="Opciones">(IN) ACTIVAR</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar estado usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <h6 class="modal-title" id="deleteModalLabel">...</h6>
                            <input type="hidden" id="hidIdUsuario" />
                            <input type="hidden" id="hidEstado" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btnEliminar" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnBuscar").click(function () {

            $('#tbUsuario').dataTable().fnDestroy();

            CargarGrilla();

        });

        $("#btnEliminar").click(function () {

            var idusuariosesion = document.getElementById("txtidUsuario").value;
            var idusuariodelete = document.getElementById("hidIdUsuario").value;
            var estado = document.getElementById("hidEstado").value;

            $.ajax({
                method: 'POST',
                url: '/Usuario/EliminarUsuario',
                data: { 'IdUsuarioSesion': idusuariosesion, 'IdUsuarioDelete': idusuariodelete, 'estado': estado },
                success: function (respuesta) {

                    if (respuesta.data === "OK") {

                        $("#deleteModal .close").click();

                        $('#tbUsuario').dataTable().fnDestroy();

                        CargarGrilla();

                        toastr.success("El estado del usuario " + idusuariodelete + " fue actualizado!", 'ASOCEM', { timeOut: 2500 });
                    }
                    else {
                        toastr.error("Hubo un error al actualizar el registro!", 'ERROR', { timeOut: 2000 });
                    }

                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });
        });

        CargarGrilla();

    });

    function CargarGrilla() {


        var objData = {
            "Dni": $("#txtDNI").val(),
            "Apellido": $("#txtApellido").val(),
            "Nombre": $("#txtNombre").val(),
            "Id_Cargo": $("#ddlCargo").val(),
            "Estado": $("#ddlEstado").val()
        };

       var table = $('#tbUsuario').dataTable({
            "searching": false,
            "ajax": {
                "url": "/Usuario/ListarUsuario",
                "type": "POST",
                "data": { 'usuario': objData },
                "dataType": "json"
            },
           "columns": [
                { "data": "Usuario", "class": "text-center" },
                { "data": "Dni", "class": "text-center" },
                { "data": "Apellido", "class": "text-center" },
                { "data": "Nombre", "class": "text-center" },
                { "data": "Direccion", "class": "text-center" },
                { "data": "Telefono", "class": "text-center" },
                { "data": "Correo", "class": "text-center" },
                { "data": "Estado_Descripcion", "class": "text-center" },
                {
                    data: null,
                    className: "text-center",
                    "render": function (data) {
                        var strDiv;


                        if (data.Id_Usuario != 0) {
                            strDiv = '<div class="btn-group btn-group-sm">' +
                                '<button type="button" id="ButtonEditar" onclick="editarDatos(\'' + data.Id_Usuario + '\');" class="btn btn-outline-primary"><span class="icon-form"></span></button>' +
                                '<button type="button" id="ButtonEliminar"  onclick="EliminarUsuario(\'' + data.Id_Usuario + '\',\'' + data.EstadoValor + '\');"  class="btn btn-outline-danger"  data-id="1" data-toggle="modal" data-target="#deleteModal"><span class="icon-close"></span></button></div>';
                        }
                        else {
                            strDiv = '';
                        }
                        return strDiv;
                    }
                }
            ],

            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });


        //para seleccionar una opcion
        $('#tbUsuario tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    }

    function editarDatos(idusuario) {

        location.href = '@Url.Action("MantenimientoEditar", "Usuario")?idusuario=' + idusuario;
    }

    function EliminarUsuario(idusuario,estado) {

        document.getElementById("hidIdUsuario").value = idusuario;
        document.getElementById("hidEstado").value = estado;

        document.getElementById("deleteModalLabel").innerHTML = 'Está seguro de actualizar el estado del usuario ' + idusuario + '?';
    }

</script>


