﻿
@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@{
    ViewBag.Title = "Mantenimiento Usuarios";

    BEUsuario usuario = Session["usuario.mant"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;

    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }

    string titulo = usuario.Id_Usuario == 0 ? "NUEVO USUARIO" : "EDITANDO USUARIO N.: " + usuario.Id_Usuario;
}


<input type="hidden" id="txtidUsuarioMant" value="@usuario.Id_Usuario" />
<input type="hidden" id="txtidUsuarioSesion" value="@sistema.idUsuario" />

<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">MANTENIMIENTO DE USUARIO - @titulo </li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row col-12">
                    <input id="txtIdUsuario" type="hidden" />
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">DNI</label>
                            <input id="txtDNI" type="text" placeholder="DNI" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password" maxlength="8" onkeypress='validate(event)' />
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">APELLIDO</label>
                            <input id="txtApellido" type="text" placeholder="Apellido" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50" >
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">NOMBRE</label>
                            <input id="txtNombre" type="text" placeholder="Nombre" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50" >
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">DIRECCIÓN</label>
                            <input id="txtDireccion" type="text" placeholder="Dirección" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50" >
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">TELÉFONO</label>
                            <input id="txtTelefono" type="tel" placeholder="Teléfono" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">CORREO</label>
                            <input id="txtCorreo" type="email" placeholder="Correo" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">USUARIO</label>
                            <input id="txtUsuarioN" type="text" name="txtUsuarioN" placeholder="Usuario" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">CONTRASEÑA</label>
                            <input id="txtPasswordN" type="password" placeholder="Contraseña" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password" maxlength="50" />
                            <input type="checkbox" onclick="showPass('txtPasswordN')">&nbsp;&nbsp;<label class="col-form-label col-form-label-sm">Ver Clave</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="form-inline">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">CONFIRMA CONTRASEÑA</label>
                            <input id="txtPasswordConfirmaN" type="password" placeholder="Contraseña" class="mr-3 col-sm-12 form-control form-control-sm" autocomplete="new-password"  maxlength="50">
                            <input type="checkbox" onclick="showPass('txtPasswordConfirmaN')">&nbsp;&nbsp;<label class="col-form-label col-form-label-sm">Ver Clave</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" id="btnGuardar" class="btn btn-primary small"><span class="fa fa-floppy-o"></span> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnGuardar").click(function () {
            grabarDatos();
        });

        $("#txtPasswordN").keyup(function (e) {
            $("#txtPasswordConfirmaN").val('');
        });

        $("#txtPasswordConfirmaN").blur(function (e) {
            var pass = $("#txtPasswordN").val();
            var passconf = $("#txtPasswordConfirmaN").val();

            if (pass !== passconf) {
                toastr.warning('Las CONTRASEÑAS deben ser iguales.', 'ADVERTENCIA', { timeOut: 2000 });
                $("#txtPasswordConfirmaN").focus();
            }
        });

        var idusuario = $("#txtidUsuarioMant").val();

        if (idusuario !== "0") {
            editarFormaDatosLoad();
        }
    });

    function grabarDatos() {

        $("#btnGuardar").html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...`);

        if (validarCampos()) {

            var obj = {
                "Id_Usuario": $("#txtidUsuarioMant").val(),
                "Dni": $("#txtDNI").val(),
                "Apellido": $("#txtApellido").val(),
                "Nombre": $("#txtNombre").val(),
                "Direccion": $("#txtDireccion").val(),
                "Telefono": $("#txtTelefono").val(),
                "Correo": $("#txtCorreo").val(),
                "Usuario": $("#txtUsuarioN").val(),
                "Clave": $("#txtPasswordN").val(),
                "Estado": 1,
                "Id_Cargo": 5, //solo crea usuarios para sistema de calculo
                "Usr_Creacion": $("#txtidUsuarioSesion").val()
            };

            toastr.warning("Guardando datos...", 'Espere por favor', { timeOut: 3000 });

            $.ajax({
                method: 'POST',
                url: '/Usuario/GrabarDatos',
                data: { 'usuario': obj },
                success: function (respuesta) {

                    if (respuesta.data == "OK") {
                        toastr.success("Se guardaron los datos correctamente", 'OK', { timeOut: 3000 });

                        $('#btnGuardar').attr("disabled", true);

                        setTimeout(window.location.href = "@Url.Action("Index", "Usuario")", 3800);

                    } else {
                        toastr.error("Se ha producido un error al guardar los datos", 'ERROR', { timeOut: 2000 });
                    }
                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });
        }
    }

    function editarFormaDatosLoad() {

        $.ajax({
            method: 'POST',
            url: '/Usuario/ObtenerDatos',
            data: { 'idusuario': $("#txtidUsuarioMant").val()},
            success: function (data) {

                $("#txtidUsuarioMant").val(data.data.Id_Usuario);
                $("#txtDNI").val(data.data.Dni);
                $("#txtApellido").val(data.data.Apellido);
                $("#txtNombre").val(data.data.Nombre)
                $("#txtDireccion").val(data.data.Direccion);
                $("#txtTelefono").val(data.data.Telefono);
                $("#txtCorreo").val(data.data.Correo);
                $("#txtUsuarioN").val(data.data.Usuario);
                $("#txtPasswordN").val(data.data.Clave);
                $("#txtPasswordConfirmaN").val(data.data.Clave);

                $("#txtUsuarioN").attr('disabled', 'disabled');

            },
            error: function (xhr, status) {
                toastr.error(status, 'ERROR', { timeOut: 2000 });
            }

        });
    }

    function showPass(text) {
        var x = document.getElementById(text);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function validarCampos() {


       var dni = $("#txtDNI").val();
       var apellido = $("#txtApellido").val();
       var nombre = $("#txtNombre").val()
       var direccion = $("#txtDireccion").val();
       var telefono = $("#txtTelefono").val();
       var correo = $("#txtCorreo").val();
       var usuario = $("#txtUsuarioN").val();
       var clave = $("#txtPasswordN").val();
       var claveconf = $("#txtPasswordConfirmaN").val();

        if (dni === "") {
            toastr.warning('El campo DNI es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtDNI").focus();
            return false;
        }

        if (apellido === "") {
            toastr.warning('El campo APELLIDO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtApellido").focus();
            return false;
        }

        if (nombre === "") {
            toastr.warning('El campo NOMBRE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtNombre").focus();
            return false;
        }

        if (direccion === "") {
            toastr.warning('El campo DIRECCION es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtDireccion").focus();
            return false;
        }

        if (telefono === "") {
            toastr.warning('El campo TELEFONO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtTelefono").focus();
            return false;
        }

        if (correo === "") {
            toastr.warning('El campo CORREO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtCorreo").focus();
            return false;
        }

        if (usuario === "") {
            toastr.warning('El campo USUARIO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtUsuarioN").focus();
            return false;
        }

        if (clave === "") {
            toastr.warning('El campo CONTRASEÑA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtPasswordN").focus();
            return false;
        }

        if (claveconf === "") {
            toastr.warning('El campo CONFIRMACION CONTRASEÑA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $("#txtPasswordConfirmaN").focus();
            return false;
        }

        return true;
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>
