﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}


<input type="hidden" id="hidTipoDiseno" value="@sistema.idTipoDiseno" />
<input type="hidden" id="hidId_Prop_Factor_Distrib" />
<input type="hidden" id="hid_Id_Repet_Equi" value="0" />

@*Obtenemos el diseñoId que se genera al guardar un ProyDiseno en la tabla*@
<input type="hidden" id="hidDisenoId" value="@DisenoId" />
<input type="hidden" id="hidRegParametro" value="0" />

<div class="col-lg-12">

    <div class="row col-12">

        <div class="form-group col-md-6">
            <h5>Coeficientes Estructuras de Capas</h5>
            <hr />
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Concreto Asfáltico Conv. (a1)</label>
                <div class="form-inline">
                    <input id="txtCoefConcrAsfal" data-id="4" type="text" value="0.44" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <button type="button" id="btnCalcularEsal" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseConcretoAsfalticoModal" aria-expanded="false" aria-controls="collapseConcretoAsfalticoModal"><span class="fa fa-ellipsis-h"></span></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="collapse" id="collapseConcretoAsfalticoModal">
                    <div class="card card-body">
                        <h5>CONCRETO ASFÁLTICO  CONVENCIONAL (a1)</h5>
                        <hr />
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">COEFICIENTE DE CAPA PARA EL CONCRETO ASFÁLTICO: </label>
                                <img src="~/Content/images/coeficiente_1.jpg" style="max-width: 100%; max-height: 100%;" />
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Se recomienda un coeficiente de 0.44/pulg  </label>
                                <br />
                                <label style="color:#FF0000" for="inlineFormInput" class="col-form-label col-form-label-sm">Escribe el valor:  </label>
                                <input id="txtCoefConcrAsfalModal" type="text" placeholder="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Base Granular (a2)</label>
                <div class="form-inline">
                    <input id="txtBaseGranulara2" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <button type="button" id="btnCalcularEsal" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseBaseGranularModal" aria-expanded="false" aria-controls="collapseBaseGranularModal"><span class="fa fa-ellipsis-h"></span></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="collapse" id="collapseBaseGranularModal">
                    <div class="card card-body">
                        <h5>BASE GRANULAR (a2)</h5>
                        <hr />
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">COEFICIENTE DE CAPA PARA BASE GRANULAR: </label>
                                <img src="~/Content/images/coeficiente_2.jpg" style="max-width: 100%; max-height: 100%;" />
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">*Se recomienda un coeficiente de 0.14/pulg  </label>
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">*La fórmula que correlaciona el MR del CBR con el a2 es:  </label>
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">a2 = 0.249*logMr - 0.977 </label>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">a2 =</label>
                            </div>
                            <div class="form-group col-md-10">
                                <input id="txta2" type="text" disabled placeholder="" class="mr-3 col-sm-12 form-control form-control-sm input-number">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:#FF0000" for="inlineFormInput" class="col-form-label col-form-label-sm">Escribe el valor:  </label>
                                <input id="txtBaseGranularModal" type="text" placeholder="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Sub-base (a3)</label>
                <div class="form-inline">
                    <input id="txtSubBasea3" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <button type="button" id="btnCalcularEsal" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseSubBaseModal" aria-expanded="false" aria-controls="collapseSubBaseModal"><span class="fa fa-ellipsis-h"></span></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <br />
                <div class="collapse" id="collapseSubBaseModal">
                    <div class="card card-body">
                        <h5>SUB BASE (a3) </h5>
                        <hr />
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">COEFICIENTE DE CAPA PARA BASE GRANULAR: </label>
                                <img src="~/Content/images/coeficiente_2.jpg" style="max-width: 100%; max-height: 100%;" />
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">*Se recomienda un coeficiente de 0.11/pulg  </label>
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">*La fórmula que correlaciona el MR del CBR con el a3 es: </label>
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">a3 = 0.227*logMr - 0.839</label>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">a3 =</label>
                            </div>
                            <div class="form-group col-md-10">
                                <input id="txta3" type="text" disabled placeholder="" class="mr-3 col-sm-12 form-control form-control-sm input-number">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:#FF0000" for="inlineFormInput" class="col-form-label col-form-label-sm">Escribe el valor:  </label>
                                <input id="txtSubBasea3Modal" type="text" placeholder="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <h5>Coeficientes Drenaje de Capas</h5>
            <hr />
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Base Granular (m2)</label>
                <div class="form-inline">
                    <input id="txtBaseGranularm2" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Sub-base (m3)</label>
                <div class="form-inline">
                    <input id="txtSubBasem3" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                </div>
            </div>
            <div class="form-group col-md-12" style="text-align: right;margin-top: -6em;">
                <button type="button" id="btnDrenajeCapas" style="height:50px;" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseinfoDrenajePrincipalModal" aria-expanded="false" aria-controls="collapseinfoDrenajePrincipalModal"><span class="fa fa-th-large"></span> Seleccione</button>
            </div>

            <div class="form-group col-md-12">
                <br />
                <div class="collapse" id="collapseinfoDrenajePrincipalModal">
                    <div class="card card-body">
                        <h5>COEFICIENTES </h5>
                        <hr />
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6 style="color:#FF0000">BASE GRANULAR(m2): </h6>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Calidad de Drenaje  </label>
                                <div class="form-inline">
                                    @Html.DropDownList("ddlCalidadDrenaje", null, new { @class = "mr-3 col-sm-9 form-control form-control-sm" })
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajeTiempoModal"><i class="fa fa-info-circle"></i></button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Porcentaje de Exposición a Saturación </label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeBaseIng" type="text" maxlength="5" placeholder="0.00" value="20.00" class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajePorcentajeModal"><i class="fa fa-info-circle"></i></button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Base Granular</label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeBase" type="text" value="0.00" disabled class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                </div>
                            </div>
                        </div>

                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6 style="color:#FF0000">SUBBASE GRANULAR(m3):</h6>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Calidad de Drenaje de la Sub Base Granular  </label>
                                <div class="form-inline">
                                    @Html.DropDownList("ddlCalidadDrenajeSubBase", null, new { @class = "mr-3 col-sm-9 form-control form-control-sm" })
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajeTiempoModal"><i class="fa fa-info-circle"></i></button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Porcentaje de Exposición a Saturación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeSubBaseIng"  maxlength="5" type="text" placeholder="0.00" value="25.00" class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajePorcentajeModal"><i class="fa fa-info-circle"></i></button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Sub Base Granular</label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeSubBase" type="text" value="0.00" disabled class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                </div>
                            </div>
                        </div>

                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6 style="color:#FF0000">(ESCRIBE LOS VALORES)</h6>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Base Granular (m2)</label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeInput" type="text" placeholder="0.00"  maxlength="4" class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Sub Base Granular (m3)</label>
                                <div class="form-inline">
                                    <input id="txtPorcDrenajeSubBaseInput" type="text" placeholder="0.00" maxlength="4" class="mr-3 col-sm-9 form-control form-control-sm mascara">
                                </div>
                            </div>
                            <div class="row col-12">
                                <p>El valor recomendado es 1.00.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <h5>ESPESORES DE CAPAS</h5>
    <hr />
    <div class="row col-12">

        <div class="form-group col-md-7">
            <div class="form-inline">
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N PROPUESTO</label>
                    <input id="txtSNPropuestoEC" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-1" style="display: flex;align-items: end;justify-content: center; margin-top:2em;">
                    <h4 style="font-size:xx-large"> > </h4>
                </div>
                <div class="form-group col-md-4">
                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N REQUERIDO</label>
                    <input id="txSNRequeridoEC" data-id="4" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                </div>
                <div class="form-group col-md-3" style="display: flex; align-items: center; justify-content: center; margin-top: 2em;">
                    <button type="button" id="btnOptimizar" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span> Optimizar </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <button type="button" id="btninfoesalCoef" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#BaseSubModalCoef"><i class="fa fa-question-circle"></i></button>
            <img src="~/Content/images/img_a.jpg" style="max-width: 120%; max-height: 100%;">
        </div>
        <div class="form-group col-md-3" style="margin-top:1.3em">
            <div class="form-group col-md-12 text-md-center" style="margin-top:0.5em">
                <div class="form-inline">
                    <input id="txtRCapaAdoEC" data-id="4" type="text" value="0.00" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <h6>cm</h6>
                </div>
            </div>
            <div class="form-group col-md-12 text-md-center" style="margin-top:-0.5em">
                <div class="form-inline">
                    <input id="txtRCapaAmaEC" data-id="4" type="text" value="0.00" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <h6>cm</h6>
                </div>
            </div>
            <div class="form-group col-md-12 text-md-center" style="margin-top:-0.5em">
                <div class="form-inline">
                    <input id="txtRBaseEC" data-id="4" type="text" value="0.00" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <h6>cm</h6>
                </div>
            </div>
            <div class="form-group col-md-12 text-md-center" style="margin-top:-0.5em">
                <div class="form-inline">
                    <input id="txtRSubBaseEC" data-id="4" type="text" value="0.00" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm">
                    <h6>cm</h6>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <img src="~/Content/images/img_c.jpg" style="max-width: 80%; max-height: 100%;">
        </div>
    </div>

</div>

<!-- BASE SUB-BASE SUB-RASANTE -->
<div class="modal fade" id="BaseSubModalCoef" tabindex="-1" role="dialog" aria-labelledby="BaseSubModalCoef" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INFORMACIÓN </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <p style="color:red">Recomendación según EE</p>
                                <p>Para EE <= 150 000 usar adoquin de 6 cm</p>
                                <p>Para EE entre 150 000 y 7500 000 usar adoquin de 8 cm</p>
                                <p>Para EE entre 7500 001 y 1 5000 0000 usar adoquin de 10 cm</p>
                                <p style="color:red">Recomendacion según tipo<p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/images/espesor_adoquin.png" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="infoDrenajeTiempoModal" tabindex="-1" role="dialog" aria-labelledby="infoDrenajeTiempoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-right: 80px; margin-left: 450px;">
        <div class="modal-content" style="width:450px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COEFICIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dgvDrenajeTiempo" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-sm-center" id="CalidadDrenaje">Calidad de Drenaje</th>
                                <th class="text-sm-center" id="EliminaTiempoElimAgua">Tiempo de Eliminación del Agua en</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoDrenajePorcentajeModal" tabindex="-1" role="dialog" aria-labelledby="infoDrenajePorcentajeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-right: 80px; margin-left: 250px;">
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COEFICIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dgvDrenajePorcentaje" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-sm-center">*</th>
                                <th class="text-sm-center" colspan="8">
                                    Porcentaje de tiempo anual en que la
                                    estructura del pavimento está expuesta a niveles cercanos a saturación
                                </th>
                            </tr>
                            <tr>
                                <th class="text-sm-center" id="CalidadDrenaje">Calidad_Drenaje</th>
                                <th class="text-sm-center" id="Desde_0">Desde 0%</th>
                                <th class="text-sm-center" id="Hasta_1">Hasta 1%</th>
                                <th class="text-sm-center" id="Desde_1">Desde 1%</th>
                                <th class="text-sm-center" id="Hasta_5">Hasta 5%</th>
                                <th class="text-sm-center" id="Desde_5">Desde 5%</th>
                                <th class="text-sm-center" id="Hasta_25">Hasta 25%</th>
                                <th class="text-sm-center" id="Desde_25">Desde 25%</th>
                                <th class="text-sm-center" id="Hasta_Mas">Hasta Mas</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script type="text/javascript">

    //pendiente error datatable
    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara

        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara

        $('.input-number').on('input', function () {
            this.value = this.value.replace(/[^.0-9]/g, '');
        });

        $("#txtCoefConcrAsfalModal").keyup(function (e) {

            var CoefConcrAsfalModal = document.getElementById("txtCoefConcrAsfalModal").value;

            if (CoefConcrAsfalModal.length > 0) {
                document.getElementById("txtCoefConcrAsfal").value = CoefConcrAsfalModal;
            }

            setState();
        });

        $('#txtCoefConcrAsfalModal').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 0.48) {
                toastr.warning("El valor permitido CONCRETO ASFALTICO CONVENCIONAL es entre 0.20 y 0.48", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCoefConcrAsfalModal').val('0.00');
                $('#txtCoefConcrAsfal').val('0.00');
                $('#txtCoefConcrAsfalModal').focus();
                return;
            }

            if (val < 0.20) {
                toastr.warning("El valor permitido CONCRETO ASFALTICO CONVENCIONAL es entre 0.20 y 0.48", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCoefConcrAsfalModal').val('0.00');
                $('#txtCoefConcrAsfal').val('0.00');
                $('#txtCoefConcrAsfalModal').focus();
                return;
            }
        });

        $("#txtBaseGranularModal").keyup(function (e) {

            var BaseGranularModal = document.getElementById("txtBaseGranularModal").value;

            if (BaseGranularModal.length > 0) {
                document.getElementById("txtBaseGranulara2").value = BaseGranularModal;
            }

            setState();
        });

        $('#txtBaseGranularModal').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 0.25) {
                toastr.warning("El valor permitido para el campo BASE GRANULAR es entre 0.12 y 0.25", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtBaseGranularModal').val('0.00');
                $('#txtBaseGranulara2').val('0.00');
                $('#txtBaseGranularModal').focus();
                return;
            }

            if (val < 0.12) {
                toastr.warning("El valor permitido para el campo BASE GRANULAR es entre 0.12 y 0.25", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtBaseGranularModal').val('0.00');
                $('#txtBaseGranulara2').val('0.00');
                $('#txtBaseGranularModal').focus();
                return;
            }
        });

        $("#txtSubBasea3Modal").keyup(function (e) {

            var SubBasea3Modal = document.getElementById("txtSubBasea3Modal").value;

            if (SubBasea3Modal.length > 0) {
                document.getElementById("txtSubBasea3").value = SubBasea3Modal;
            }

            setState();
        });

        $('#txtSubBasea3Modal').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 0.16) {
                toastr.warning("El valor permitido para el campo SUB-BASE es entre 0.08 y 0.16", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtSubBasea3Modal').val('0.00');
                $('#txtSubBasea3').val('0.00');
                $('#txtSubBasea3Modal').focus();
                return;
            }

            if (val < 0.08) {
                toastr.warning("El valor permitido para el campo SUB-BASE es entre 0.08 y 0.16", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtSubBasea3Modal').val('0.00');
                $('#txtSubBasea3').val('0.00');
                $('#txtSubBasea3Modal').focus();
                return;
            }
        });

        $("#txtPorcDrenajeBaseIng").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#txtPorcDrenajeSubBaseIng").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#txtPorcDrenajeBaseIng").focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 50.00) {
                toastr.warning("El valor permitido para el campo PORCENTAJE EXPOSICION A SATURACION es entre 0.00 y 50.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtPorcDrenajeBaseIng').val('0.00');
                $('#txtPorcDrenajeBase').val('0.00');
                $('#txtBaseGranularm2').val('0.00');
                $('#txtPorcDrenajeBaseIng').focus();
                return;
            }

            if (document.getElementById("txtPorcDrenajeBaseIng").value.length > 0) {
                ObtenerCoefDrenajeBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });

        $("#txtPorcDrenajeSubBaseIng").focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 50.00) {
                toastr.warning("El valor permitido para el campo PORCENTAJE EXPOSICION A SATURACION es entre 0.00 y 50.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtPorcDrenajeSubBaseIng').val('0.00');
                $('#txtPorcDrenajeSubBase').val('0.00');
                $('#txtSubBasem3').val('0.00');
                $('#txtPorcDrenajeSubBaseIng').focus();
                return;
            }

            if (document.getElementById("txtPorcDrenajeSubBaseIng").value.length > 0) {
                ObtenerCoefDrenajeSubBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });

        $("#txtPorcDrenajeInput").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#txtPorcDrenajeSubBaseInput").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#ddlCalidadDrenaje").change(function () {

            if (document.getElementById("txtPorcDrenajeBaseIng").value.length > 0) {
                ObtenerCoefDrenajeBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });

        $("#ddlCalidadDrenajeSubBase").change(function () {

            if (document.getElementById("txtPorcDrenajeSubBaseIng").value.length > 0) {
                ObtenerCoefDrenajeSubBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });

        $("#btnOptimizar").click(function () {
            CalcularCapaAdoquin();
        });


        ObtenerCoeficienteA2(document.getElementById("txtCBR_1").value);
        ObtenerCoeficienteA3(document.getElementById("txtCBR_2").value);

        CargarTiempoDrenaje();
        CargarPorcentajeDrenaje();

        ObtenerCoefDrenajeBase();
        ObtenerCoefDrenajeSubBase();


        setState();
    });

    function ObtenerCoeficienteA2(valorCBRBase) {

        $.ajax
            ({
                method: 'POST',
                url: '/ParametrosAdoquin/CoeficienteA2',
                data: { 'valorCBRBase': valorCBRBase },
                success: function (respuesta) {
                    document.getElementById("txta2").value = respuesta;

                    setState();
                },
                error: function (xhr, status) {
                    alert("ERROR");
                }

            });

    }

    function ObtenerCoeficienteA3(valorCBRSubBase) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/CoeficienteA3',
            data: { 'valorCBRSubBase': valorCBRSubBase },
            success: function (respuesta) {
                document.getElementById("txta3").value = respuesta;
                setState();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function ObtenerCoefDrenajeBase() {

        var IdCalidadDre, ValorPorcentaje, IDProyecto

        IdCalidadDre = document.getElementById("ddlCalidadDrenaje").value;
        ValorPorcentaje = document.getElementById("txtPorcDrenajeBaseIng").value;
        IDProyecto = document.getElementById("hidTipoDiseno").value;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ObtenerCoefDrenaje',
            data: { 'IdCalidadDre': IdCalidadDre, 'ValorPorcentaje': ValorPorcentaje, 'IDProyecto': IDProyecto },
            success: function (respuesta) {
                document.getElementById("txtPorcDrenajeBase").value = respuesta;

                setState();

                CalculoFinalCoeficientes();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function ObtenerCoefDrenajeSubBase() {

        var IdCalidadDre, ValorPorcentaje, IDProyecto

        IdCalidadDre = document.getElementById("ddlCalidadDrenajeSubBase").value;
        ValorPorcentaje = document.getElementById("txtPorcDrenajeSubBaseIng").value;
        IDProyecto = document.getElementById("hidTipoDiseno").value;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ObtenerCoefDrenaje',
            data: { 'IdCalidadDre': IdCalidadDre, 'ValorPorcentaje': ValorPorcentaje, 'IDProyecto': IDProyecto },
            success: function (respuesta) {

                document.getElementById("txtPorcDrenajeSubBase").value = respuesta;

                setState();

                CalculoFinalCoeficientes();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });
    }

    function CalculoFinalCoeficientes() {

        if (document.getElementById("txtPorcDrenajeInput").value.length > 0) {
            document.getElementById("txtBaseGranularm2").value = document.getElementById("txtPorcDrenajeInput").value;
        } else {
            document.getElementById("txtBaseGranularm2").value = document.getElementById("txtPorcDrenajeBase").value;
        }

        if (document.getElementById("txtPorcDrenajeSubBaseInput").value.length > 0) {
            document.getElementById("txtSubBasem3").value = document.getElementById("txtPorcDrenajeSubBaseInput").value;
        } else {
            document.getElementById("txtSubBasem3").value = document.getElementById("txtPorcDrenajeSubBase").value;
        }

        setState();
    }

    function CalcularCapaAdoquin() {

        var valor_ee = $("#txtCantidadESAL").val();
        var tipo_reglamento = $("#ddlReglamentoPD").val();

        if (valor_ee == '' || valor_ee == '0.00') {
            toastr.warning("Ingrese Cantidad de EE", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }

        if (validarCamposCoeficientesOptimizar()) {
            $.ajax({
                method: 'POST',
                url: '/ParametrosAdoquin/CalcularCapaAdoquin',
                data: { 'valor_ee': valor_ee, 'tipo_reglamento': tipo_reglamento },
                success: function (respuesta) {
                    document.getElementById("txtRCapaAdoEC").value = respuesta;
                    document.getElementById("txtRCapaAmaEC").value = "4.00";

                    OptimizarCoeficiente();
                },
                error: function (xhr, status) {
                    alert("ERROR DE CÓDIGO");
                }

            });

        }
    }

    function CargarTiempoDrenaje() {

        var objData = {};
        objData["Id"] = 0;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/CargarTiempoDrenaje',
            data: objData,
            success: function (respuesta) {

                var arrdata = respuesta.data;
                var tbody = '';

                for (var i = 0; i < arrdata.length; i++) {
                    var item = arrdata[i];
                    tbody += '<tr><td class="text-sm-center" id="CalidadDrenaje">' + item.CalidadDrenaje + '</td><td class="text-sm-center" id="EliminaTiempoElimAgua">' + item.EliminaTiempoElimAgua + '</td></tr>'
                }

                $("#dgvDrenajeTiempo tbody").html(tbody);

            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });


    }

    function CargarPorcentajeDrenaje() {

        var objData = {};
        objData["Id"] = 0;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/CargarPorcentajeDrenaje',
            data: objData,
            success: function (respuesta) {

                var arrdata = respuesta.data;
                var tbody = '';

                for (var i = 0; i < arrdata.length; i++) {
                    var item = arrdata[i];
                    tbody += '<tr><td class="text-sm-center" id="CalidadDrenaje">' + item.CalidadDrenaje + '</td>' +
                        '<td class="text-sm-center" id = "Desde_0" >' + item.Desde_0 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_1">' + item.Hasta_1 + '</td>' +
                        '<td class="text-sm-center" id="Desde_1">' + item.Desde_1 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_5">' + item.Hasta_5 + '</td>' +
                        '<td class="text-sm-center" id="Desde_5">' + item.Desde_5 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_25">' + item.Hasta_25 + '</td>' +
                        '<td class="text-sm-center" id="Desde_25">' + item.Desde_25 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_Mas">' + item.Hasta_Mas + '</td></tr>';

                    $("#dgvDrenajePorcentaje tbody").html(tbody);
                }

            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function OptimizarCoeficiente() {



        var snreq = parseFloat($("#txSNRequeridoEC").val());
        var dcalpotencial = 1.00;
        var factconvcmpul = 2.54;

        var a1 = parseFloat($("#txtCoefConcrAsfal").val());
        var d11 = parseFloat($("#txtRCapaAdoEC").val());
        var capaadocoef = (a1 * d11) / factconvcmpul;

        var d12 = parseFloat($("#txtRCapaAmaEC").val());
        var capaarenacoef = (a1 * d12) / factconvcmpul;

        var a2 = parseFloat($("#txtBaseGranulara2").val());
        var m2 = parseFloat($("#txtBaseGranularm2").val());
        var capabascoef = ((a2 * m2) / factconvcmpul) * dcalpotencial;

        var a3 = parseFloat($("#txtSubBasea3").val());
        var m3 = parseFloat($("#txtSubBasem3").val());
        var capasubbascoef = ((a3 * m3) / factconvcmpul) * dcalpotencial;

        var sumsnprop = capaadocoef + capaarenacoef + capabascoef + capasubbascoef;

        var i = 0;

        while (snreq.toFixed(2) >= sumsnprop.toFixed(2)) {
            i++;
            dcalpotencial = i;

            capaadocoef = (a1 * d11) / factconvcmpul;
            capaarenacoef = (a1 * d12) / factconvcmpul;
            capabascoef = ((a2 * m2) / factconvcmpul) * dcalpotencial;
            capasubbascoef = ((a3 * m3) / factconvcmpul) * dcalpotencial;

            sumsnprop = capaadocoef + capaarenacoef + capabascoef + capasubbascoef;
        }

        if (dcalpotencial < 10.00) {
            toastr.error("Aumentar Espesores", 'Error', { timeOut: 3000 });

            $("#txtSNPropuestoEC").val('0.00');
            $("#txtRBaseEC").val('0.00');
            $("#txtRSubBaseEC").val('0.00');
            $("#txtRCapaAsfEC").val('0.00');
            $("#txtRCapaAdoEC").val('0.00');
            $("#txtRCapaAmaEC").val('0.00');

            return;
        }


        if (dcalpotencial >= 10.00 && dcalpotencial < 15.00) {
            dcalpotencial = 15.00; //minimo

            capaadocoef = (a1 * d11) / factconvcmpul;
            capaarenacoef = (a1 * d12) / factconvcmpul;
            capabascoef = ((a2 * m2) / factconvcmpul) * dcalpotencial;
            capasubbascoef = ((a3 * m3) / factconvcmpul) * dcalpotencial;

            sumsnprop = capaadocoef + capaarenacoef + capabascoef + capasubbascoef;
        }

        $("#txtSNPropuestoEC").val(sumsnprop.toFixed(2));
        $("#txtRBaseEC").val(dcalpotencial.toFixed(2));
        $("#txtRSubBaseEC").val(dcalpotencial.toFixed(2));

        if (snreq.toFixed(2) <= sumsnprop.toFixed(2)) {
            toastr.success("Diseño Conforme", 'OK', { timeOut: 3000 });
        }
        else {
            toastr.success("Aumentar Espesores", 'Error', { timeOut: 3000 });
        }


    }

    function validarCamposCoeficientes() {

        var coefconasf = $("#txtCoefConcrAsfal").val();
        var basegrana2 = $("#txtBaseGranulara2").val();
        var subbasea3 = $("#txtSubBasea3").val();
        var basegranm2 = $("#txtBaseGranularm2").val();
        var subbasem3 = $("#txtSubBasem3").val();
        var snpropuesto = $("#txtSNPropuestoEC").val();
        var snrequerido = $("#txSNRequeridoEC").val();
        var capaadoq = $("#txtRCapaAdoEC").val();
        var capaarena = $("#txtRCapaAmaEC").val();
        var capabase = $("#txtRBaseEC").val();
        var capasubbase = $("#txtRSubBaseEC").val();

        if (coefconasf === "" || coefconasf === "0.00") {
            toastr.warning('El campo  CONCRETO ASFALTICO A1 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (basegrana2 === "" || basegrana2 === "0.00") {
            toastr.warning('El campo  BASE GRANULAR A2 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (subbasea3 === "" || subbasea3 === "0.00") {
            toastr.warning('El campo  SUB BASE A3 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (basegranm2 === "" || basegranm2 === "0.00") {
            toastr.warning('El campo  BASE GRANULAR M2 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (subbasem3 === "" || subbasem3 === "0.00") {
            toastr.warning('El campo  SUB BASE M3 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (snpropuesto === "" || snpropuesto === "0.00") {
            toastr.warning('El campo  SN PROPUESTO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (snrequerido === "" || snrequerido === "0.00") {
            toastr.warning('El campo  SN REQUERIDO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (capaadoq === "" || capaadoq === "0.00") {
            toastr.warning('El campo  CAPA ADOQUIN es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (capaarena === "" || capaarena === "0.00") {
            toastr.warning('El campo  CAPA ARENA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (capabase === "" || capabase === "0.00") {
            toastr.warning('El campo  CAPA BASE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        if (capasubbase === "" || capasubbase === "0.00") {
            toastr.warning('El campo CAPA SUB BASE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseFour').click();
            return false;
        }

        return true;
    }

    function validarCamposCoeficientesOptimizar() {

        var coefconasf = $("#txtCoefConcrAsfal").val();
        var basegrana2 = $("#txtBaseGranulara2").val();
        var subbasea3 = $("#txtSubBasea3").val();
        var basegranm2 = $("#txtBaseGranularm2").val();
        var subbasem3 = $("#txtSubBasem3").val();


        if (coefconasf === "" || coefconasf === "0.00") {
            toastr.warning('El campo  CONCRETO ASFALTICO A1 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            return false;
        }

        if (basegrana2 === "" || basegrana2 === "0.00") {
            toastr.warning('El campo  BASE GRANULAR A2 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            return false;
        }

        if (subbasea3 === "" || subbasea3 === "0.00") {
            toastr.warning('El campo  SUB BASE A3 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            return false;
        }

        if (basegranm2 === "" || basegranm2 === "0.00") {
            toastr.warning('El campo  BASE GRANULAR M2 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            return false;
        }

        if (subbasem3 === "" || subbasem3 === "0.00") {
            toastr.warning('El campo  SUB BASE M3 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            return false;
        }

        return true;
    }


</script>
