﻿
@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{

    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;

}


<input type="hidden" id="hidId_Prop_Factor_Distrib" />
<input type="hidden" id="hidCantidadEjes" />

<div class="col-lg-12">

    <div class="row col-12">

        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Reglamento</label>
            @Html.DropDownList("ddlReglamentoPD", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">&nbsp;</label>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">&nbsp;</label>
        </div>

        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Periodo de Diseño</label>
            <div class="form-inline">
                @Html.DropDownList("ddlPeriodoDisenoParam", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Cantidad de EE</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#EsalModal"><i class="fa fa-question-circle"></i></button>
            </div>

            <div class="form-inline">
                <input id="txtCantidadESAL" type="text" disabled value="0.00" class="mr-3 col-sm-10 form-control form-control-sm" onkeypress="return filterFloat(event,this);">
                <button type="button" id="btnCalcularEsal" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseEsal" aria-expanded="false" aria-controls="collapseEsal"><span class="fa fa-etsy"></span></button>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Resilencia (Subrasante)</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ResilenciaModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtModResilenciaSub" data-id="1" type="text"  value="0.00" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm">
                <button type="button" id="btnEvaluaResilencia" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseResilencia" aria-expanded="false" aria-controls="collapseResilencia"><span class="fa fa-cog"></span></button>
            </div>
        </div>
        <div class="form-group col-md-12 col d-flex justify-content-center">
            <div class="collapse" id="collapseEsal">
                <div class="card card-body">
                    <h5>Cálculo de Repeticiones de Ejes Equivalentes </h5>
                    <hr />
                    <div class="row col-12">
                        <h6>Factores de Calculo</h6>
                        <div class="row col-12">
                            <div class="form-group col-md-4">
                                <label for="FdxFc" class="col-form-label col-form-label-sm">Fd x Fc :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="form-inline">
                                    <input id="FdxFc" type="text" disabled placeholder="Fd x Fc" class="mr-3 col-sm-8 form-control form-control-sm">
                                    <button type="button" id="btnFdxFc" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseSubModal_2" aria-expanded="false" aria-controls="collapseSubModal_2"><span class="fa fa-flask"></span></button>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Fp" class="col-form-label col-form-label-sm">Fp :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="form-inline">
                                    <input id="Fp" type="text" placeholder="Fp" value="1.00" disabled class="mr-3 col-sm-8 form-control form-control-sm input-number mascara">
                                    <button style="display:none" type="button" id="btnFP" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseSubModal_3" aria-expanded="false" aria-controls="collapseSubModal_3"><span class="fa fa-flask"></span></button>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="PeriodoDiseno" class="col-form-label col-form-label-sm">Periodo de Diseño :</label>
                                <input id="PeriodoDiseno" type="text" disabled placeholder="Periodo" class="mr-3 col-sm-8 form-control form-control-sm">
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="collapse" id="collapseSubModal_2">
                                    <div class="card card-body">
                                        <h5>FACTORES DE DISTRIBUCION </h5>
                                        <hr />
                                        <div class="row col-12">
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Número Calzadas</label>
                                                @Html.DropDownList("ddlCalzada", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Número de Sentidos</label>
                                                @Html.DropDownList("ddlNumSentido", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Carril por Sentido</label>
                                                @Html.DropDownList("ddlCarrilxSentido", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                            </div>
                                            <div class="form-group col-md-12" ">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Resultado: </label>
                                                <input id="FdxFc_Calculado" data-id="4" type="text" maxlength="4" placeholder="0.00" class="column_filter mr-1 col-sm-10 form-control form-control-sm mascara">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <img id="img_calzadacarril" src="/Content/images/calzadas/NoImage.png" style="max-width: 100%; max-height: 100%;">
                                            </div>
                                        </div>
                                        <label align="left">*De acuerdo a la normativa vigente según las caracteristicas de la vía el valor recomendado es 0.40.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="collapse" id="collapseSubModal_3">
                                    <div class="card card-body">
                                        <h5>CÁLCULO FP </h5>
                                        <hr />
                                        <label align="left" style="color:#FF0000">*Si conoce el Espesor y la Presión Neumática </label>
                                        <div class="row col-12">
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Espesor</label>
                                                @Html.DropDownList("ddlEspesor", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Presión</label>
                                                @Html.DropDownList("ddlPresion", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Resultado</label>
                                                <input id="txtFpCalculado" type="text" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara">
                                            </div>
                                        </div>
                                        <label align="left">*El FP recomendado es 1.00.</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="DiasAno" class="col-form-label col-form-label-sm">Días del Año :</label>
                                <input id="DiasAno" type="text" placeholder="0" maxlength="3" value="365" class="mr-3 col-sm-8 form-control form-control-sm" onkeypress='validate(event)'>
                            </div>
                            <div class="form-group col-md-4">
                                <label id="lblTasaCrecimiento" for="TasaCrecimiento" class="col-form-label col-form-label-sm">Tasa de Crecimiento (%) :</label>
                                <div class="form-inline">
                                    <input id="TasaCrecimiento" type="text" disabled value="0.00" class="mr-3 col-sm-8 form-control form-control-sm">
                                    <button type="button" id="btnTasaCrecimiento" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseSubModal_4" aria-expanded="false" aria-controls="collapseSubModal_4"><span class="fa fa-percent"></span></button>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col d-flex justify-content-center">
                                <div class="collapse" id="collapseSubModal_4">
                                    <div class="card card-body">
                                        <h5>TASA DE CRECIMIENTO (%) </h5>
                                        <hr />
                                        <div class="row col-12">
                                            <div class="form-group col-md-12">
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Selecciona el Tipo de Tasa de Crecimiento</label>
                                                @Html.DropDownList("ddlTasaCrecimiento", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                                                <hr />
                                            </div>
                                            <div id="dvTasaCrecimientoConstante" style="display:none" class="form-group col-md-12">
                                                <h6>T. CRECIMIENTO CONSTANTE (%)</h6>
                                                <label for="inlineFormInput" class="col-form-label col-form-label-sm" style="color: #FF0000">Escribe el Valor (%): </label>
                                                <input id="ValorTasaCrecConstante" type="text" maxlength="5" placeholder="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara"  onkeypress="return filterFloat(event,this);">
                                            </div>
                                            <div id="dvTasaCrecimientoVariableTiempo" style="display:none" class="form-group col-md-12">
                                                <h6>Tasa de Crecimiento - Variable por Tiempo</h6>
                                                <br />
                                                <div class="table-responsive col d-flex justify-content-center">
                                                    <table id="dgvListadoVariableTiempo" class="display table-striped" cellspacing="0" align="left" width="400px">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-sm-center" id="Id">
                                                                    <label>Id</label>
                                                                </th>
                                                                <th class="text-sm-center" id="Anio">
                                                                    <label>Periodo - Año</label>
                                                                </th>
                                                                <th class="text-sm-center" id="Valor">
                                                                    <label style="padding-right:6em;">Valor (R%)</label>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot style="display:none">
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    Total (%):
                                                                </td>
                                                                <td>
                                                                    <input id="ValorTotalCrecxTiempo" readonly="readonly" type="text" value="0.00" class="mr-3 col-sm-8 form-control form-control-sm mascara">
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="dvTasaCrecimientoVariableVehiculo" style="display:none" class="form-group col-md-12">
                                                <h6>Tasa de Crecimiento - Variable por Vehículo</h6>
                                                <br />
                                                <div class="table-responsive col d-flex justify-content-center">
                                                    <table id="dgvListadoVariableVehiculo" class="display table-striped" cellspacing="0" align="left" width="500px">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-sm-center" id="Id">Id</th>
                                                                <th class="text-sm-center" style="display:none" id="IdTipoVehiculo">Id Tipo Vehículo</th>
                                                                <th class="text-sm-center" id="Vehiculo">Tipo Vehículo</th>
                                                                <th class="text-sm-center" id="Valor">
                                                                    <label style="padding-right:6em;">Valor (R%)</label>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot style="display:none">
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    Total (%):
                                                                </td>
                                                                <td>
                                                                    <input id="ValorTotalCrecxVehiculo" readonly="readonly" type="text" value="0.00" class="mr-3 col-sm-8 form-control form-control-sm mascara">
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex justify-content-end">
                                <button type="button" id="btnCalcularEE" class="btn btn-primary small"><span class="fa fa-spinner"></span> Calcular EE</button>
                            </div>
                        </div>
                    </div>

                    <div class="row col-12">
                        <h6>Configuracion de Vehiculo</h6>
                        <div class="row col-12">
                            <div class="row col-12">
                                <div class="col-sm-6">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Vehiculo</label>
                                        @Html.DropDownList("ddlTipoVehiculo", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Vehiculo</label>
                                        @Html.DropDownList("ddlVehiculo", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">IMD Base&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <input id="txtIMDBase" data-id="4" type="text" maxlength="6" placeholder="0" class="column_filter mr-1 col-sm-10 form-control form-control-sm input-number" onkeypress='validate(event)'>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group  col-sm-12">
                                        <img id="img_vehiculo" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-sm-6" id="eje1_ddl" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Eje 1</label>
                                        @Html.DropDownList("ddlTipoEje_1", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje1_txt" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Peso Eje 1</label>
                                        <input id="txtPesoEje_1" data-id="4" type="text" disabled="disabled" placeholder="0.00" maxlength="8" class="column_filter mr-1 col-sm-11 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje2_ddl" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Eje 2</label>
                                        @Html.DropDownList("ddlTipoEje_2", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje2_txt" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Peso Eje 2</label>
                                        <input id="txtPesoEje_2" data-id="4" type="text" disabled="disabled" placeholder="0.00" maxlength="8" class="column_filter mr-1 col-sm-11 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje3_ddl" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Eje 3</label>
                                        @Html.DropDownList("ddlTipoEje_3", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje3_txt" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Peso Eje 3</label>
                                        <input id="txtPesoEje_3" data-id="4" type="text" disabled="disabled" placeholder="0.00" maxlength="8" class="column_filter mr-1 col-sm-11 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje4_ddl" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Eje 4</label>
                                        @Html.DropDownList("ddlTipoEje_4", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje4_txt" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Peso Eje 4</label>
                                        <input id="txtPesoEje_4" data-id="4" type="text" disabled="disabled" placeholder="0.00" maxlength="8" class="column_filter mr-1 col-sm-11 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje5_ddl" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Eje 5</label>
                                        @Html.DropDownList("ddlTipoEje_5", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="eje5_txt" style="display:none">
                                    <div class="form-group col-md-12">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Peso Eje 5</label>
                                        <input id="txtPesoEje_5" data-id="4" type="text" disabled="disabled" placeholder="0.00" maxlength="8" class="column_filter mr-1 col-sm-11 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-md-6">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">FVP</label>
                                        <input id="txtFVP" data-id="4" type="text" disabled placeholder="FVP" class="column_filter mr-1 col-sm-10 form-control form-control-sm">
                                    </div>
                                    <div class="form-group col-md-12 d-flex justify-content-end">
                                        <button type="button" id="btnGuardarVehiculoIMD" class="btn btn-outline-primary small"><span class="fa fa-plus-square"></span>&nbsp; Agregar &nbsp;</button>
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="table-responsive">
                                        <table id="dgvListadoVehiculosIMD" class="table table-sm table-hover table-bordered table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col" class="text-sm-center" style="display:none" id="Id_Vehiculos">Id</th>
                                                    <th scope="col" class="text-sm-center" id="ruta_imagen">MODELO</th>
                                                    <th scope="col" class="text-sm-center" id="Vehiculos">TIPO</th>
                                                    <th scope="col" class="text-sm-center" id="IMD_Base">IMD</th>
                                                    <th scope="col" class="text-sm-center" id="Tipo_Eje_E1">EJE 1</th>
                                                    <th scope="col" class="text-sm-center" id="Peso_Tonelada_E1">PESO EJE 1</th>
                                                    <th scope="col" class="text-sm-center" id="Tipo_Eje_E2">EJE 2</th>
                                                    <th scope="col" class="text-sm-center" id="Peso_Tonelada_E2">PESO EJE 2</th>
                                                    <th scope="col" class="text-sm-center" id="Tipo_Eje_E3">EJE 3</th>
                                                    <th scope="col" class="text-sm-center" id="Peso_Tonelada_E3">PESO EJE 3</th>
                                                    <th scope="col" class="text-sm-center" id="Tipo_Eje_E4">EJE 4</th>
                                                    <th scope="col" class="text-sm-center" id="Peso_Tonelada_E4">PESO EJE 4</th>
                                                    <th scope="col" class="text-sm-center" id="Tipo_Eje_E5">EJE 5</th>
                                                    <th scope="col" class="text-sm-center" id="Peso_Tonelada_E5">PESO EJE 5</th>
                                                    <th scope="col" class="text-sm-center" id="Valor_FVP">VALOR FVP</th>
                                                    <th scope="col" class="text-sm-center" id="Valor_EE">VALOR EE</th>
                                                    <th scope="col" class="text-sm-center" id="Opc"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col d-flex justify-content-end">
            <div class="form-group col-md-6">
                <div class="collapse" id="collapseResilencia">
                    <div class="card card-body">
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6>CBR (SUBRASANTE) :</h6>
                                <hr />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Colocar el CBR (%) </label>
                                <input id="txtCBR" type="text" placeholder="0.00" maxlength="6" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara">
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6>Cálculo de MR (Subrasante) :</h6>
                                <hr />
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:#FF0000;margin-bottom:0.45em">MR(psi) = 2,555*CBR^0.64 </label>
                                <input id="txtMR" type="text" value="0.00" disabled class="mr-3 col-sm-10 form-control form-control-sm mascara">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p align="justify">
                                * El cálculo se está realizando en base al CBR de la Subrasante.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<!-- ESAL-->
<div class="modal fade" id="EsalModal" tabindex="-1" role="dialog" aria-labelledby="EsalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ESAL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Cantidad de repeticiones del eje de carga de 8,2 tn para un periodo de diseño.
                                    Es decir, número que representa el volumen de tránsito del carril de diseño. Se calcula a partir del IMD.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img id="imgesal" src="~/Content/images/param_esal_1.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="~/Content/images/param_esal_2.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- RESILENCIA-->
<div class="modal fade" id="ResilenciaModal" tabindex="-1" role="dialog" aria-labelledby="ResilenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MODULO DE RESILENCIA (MR)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Es el índice que describe la relación no lineal de esfuerzos - deformaciones
                                    de los suelos bajo carga repetida.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara
        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara

        document.getElementById("PeriodoDiseno").value = $("#ddlPeriodoDisenoParam :selected").text();

        $("#ddlPeriodoDisenoParam").change(function () {
            document.getElementById("PeriodoDiseno").value = $("#ddlPeriodoDisenoParam :selected").text();
            CargarVariableTiempo();
            setState();
        });

        document.getElementById("ddlReglamento").disabled = true;

        $("#ddlReglamentoPD").change(function () {

            reglamentoCambio();

            var str_valor_ee = $("#txtCantidadESAL").val();
            if (str_valor_ee === "" || str_valor_ee === "0.00" || str_valor_ee === "0") return;

            calcularConfiabilidadEE();

        });

        $('#DiasAno').focusout(function (e) {

            var val = parseInt($(this).val());

            if (val > 365) {
                toastr.warning("El valor permitido para el campo DIAS DEL AÑO es entre 1 y 365", 'ADVERTENCIA', { timeOut: 2000 });
                $('#DiasAno').val('365');
                $('#DiasAno').focus();
                return;
            }

            if (val < 1) {
                toastr.warning("El valor permitido para el campo DIAS DEL AÑO es entre 1 y 365", 'ADVERTENCIA', { timeOut: 2000 });
                $('#DiasAno').val('365');
                $('#DiasAno').focus();
                return;
            }
        });

        $("#txtCBR").keyup(function (e) {
            strCBR = document.getElementById("txtCBR").value;

            if (strCBR == '') {
                document.getElementById("txtMR").value = '';
                document.getElementById("txtCBR_3").value = "10.00";
                return;
            }

            $.ajax({
                method: 'POST',
                url: '/ParametrosAdoquin/CalcularResilenciaADO',
                data: { 'CBR': strCBR },
                success: function (respuesta) {
                    document.getElementById("txtMR").value = delimitNumbers(respuesta);
                    document.getElementById("txtModResilenciaSub").value = delimitNumbers(document.getElementById("txtMR").value);
                    document.getElementById("txtModRoturaPSI").value = delimitNumbers(document.getElementById("txtMR").value);

                    var cb3 = parseFloat(delimitNumbers(delimitNumbers(document.getElementById("txtCBR").value))).toFixed(2);

                    document.getElementById("txtCBR_3").value = cb3 === "0.00" || cb3 === "0" ? "10.00" : cb3;

                    setState();
                },
                error: function (xhr, status) {
                    alert("ERROR DE CÓDIGO");
                }
            });
        });

        $('#txtCBR').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 100.00) {
                toastr.warning("El valor permitido para el campo CBR SUBRASANTE es entre 0.50 y 100.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCBR').val('0.00');
                $('#txtCBR').focus();
                $('#txtModResilenciaSub').val('0.00');
                $('#txtMR').val('0.00');
                return;
            }

            if (val < 0.50) {
                toastr.warning("El valor permitido para el campo CBR SUBRASANTE es entre 0.50 y 100.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCBR').val('0.00');
                $('#txtCBR').focus();
                $('#txtModResilenciaSub').val('0.00');
                $('#txtMR').val('0.00');
                return;
            }
        });

        $("#ddlCalzada").change(function () {

            var Calzada = document.getElementById("ddlCalzada").value;
            var CarrilxSentido = document.getElementById("ddlCarrilxSentido").value;
            var NumSentido = document.getElementById("ddlNumSentido").value;

            obtenerFactorDistrib(Calzada, NumSentido, CarrilxSentido);
        });

        $("#ddlCarrilxSentido").change(function () {

            var Calzada = document.getElementById("ddlCalzada").value;
            var CarrilxSentido = document.getElementById("ddlCarrilxSentido").value;
            var NumSentido = document.getElementById("ddlNumSentido").value;

            obtenerFactorDistrib(Calzada, NumSentido, CarrilxSentido);
        });

        $("#ddlNumSentido").change(function () {

            var Calzada = document.getElementById("ddlCalzada").value;
            var CarrilxSentido = document.getElementById("ddlCarrilxSentido").value;
            var NumSentido = document.getElementById("ddlNumSentido").value;

            obtenerFactorDistrib(Calzada, NumSentido, CarrilxSentido);
        });

        $("#FdxFc_Calculado").keyup(function (e) {
            guardarFdxFc();
        });

        $('#FdxFc_Calculado').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 1.00) {
                toastr.warning("El valor permitido para el campo FD X FC es entre 0.10 y 1.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#FdxFc_Calculado').val('0.00');
                $('#FdxFc').val('0.00');
                $('#FdxFc_Calculado').focus();
                return;
            }

            if (val < 0.10) {
                toastr.warning("El valor permitido para el campo FD X FC es entre 0.10 y 1.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#FdxFc_Calculado').val('0.00');
                $('#FdxFc_Calculado').focus();
                $('#FdxFc').val('0.00');
                return;
            }
        });

        $("#txtFpCalculado").keyup(function (e) {

            var FpCalculado = document.getElementById("txtFpCalculado").value;
            document.getElementById("Fp").value = FpCalculado.length > 0 ? FpCalculado : '';
        });

        $("#ddlEspesor").change(function () {

            var Espesor = document.getElementById("ddlEspesor").value;
            var Presion = document.getElementById("ddlPresion").value;

            obtenerFpCalculado(Espesor, Presion);

        });

        $("#ddlPresion").change(function () {

            var Espesor = document.getElementById("ddlEspesor").value;
            var Presion = document.getElementById("ddlPresion").value;

            obtenerFpCalculado(Espesor, Presion);

        });

        $("#ddlTasaCrecimiento").change(function () {

            var tasacrecimiento = $("#ddlTasaCrecimiento").val();

            if (tasacrecimiento == "1") {

                $("#ValorTasaCrecConstante").val("0.00");
                $("#TasaCrecimiento").val("0.00");
                $('#lblTasaCrecimiento').html('Tasa de Crecimiento (' + document.getElementById("ValorTasaCrecConstante").value + ' %) :');
                setState();

            }

            ocultarmostrarTasaCrecimiento();
        });

        $("#ValorTasaCrecConstante").keyup(function (e) {

            var input = document.getElementById("ValorTasaCrecConstante").value;

            if (input.length > 0) {
                document.getElementById("TasaCrecimiento").value = $("#ddlTasaCrecimiento :selected").text().trim();
                $('#lblTasaCrecimiento').html('Tasa de Crecimiento (' + document.getElementById("ValorTasaCrecConstante").value + ' %) :');

                setState();
            } else {
                toastr.error("Ingrese un valor.", 'ASOCEM', { timeOut: 2500 });
                return;
            }
        });

        $('#ValorTasaCrecConstante').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 25.00) {
                toastr.warning("El valor permitido para el campo TASA CRECIMIENTO CONSTANTE es entre 1.00% y 25.00%", 'ADVERTENCIA', { timeOut: 2000 });
                $('#ValorTasaCrecConstante').val('0.00');
                $('#ValorTasaCrecConstante').focus();
                return;
            }

            if (val < 1.00) {
                toastr.warning("El valor permitido para el campo TASA CRECIMIENTO CONSTANTE es entre 1.00% y 25.00%", 'ADVERTENCIA', { timeOut: 2000 });
                $('#ValorTasaCrecConstante').val('0.00');
                $('#ValorTasaCrecConstante').focus();
                return;
            }
        });

        $("#ddlTipoVehiculo").change(function () {

            document.getElementById("ddlTipoEje_1").disabled = true;
            document.getElementById("ddlTipoEje_2").disabled = true;
            document.getElementById("ddlTipoEje_3").disabled = true;
            document.getElementById("ddlTipoEje_4").disabled = true;
            document.getElementById("ddlTipoEje_5").disabled = true;

            document.getElementById("txtPesoEje_1").disabled = true;
            document.getElementById("txtPesoEje_2").disabled = true;
            document.getElementById("txtPesoEje_3").disabled = true;
            document.getElementById("txtPesoEje_4").disabled = true;
            document.getElementById("txtPesoEje_5").disabled = true;

            document.getElementById("txtFVP").disabled = true;

            $('#ddlTipoEje_1').val(0);
            $('#ddlTipoEje_2').val(0);
            $('#ddlTipoEje_3').val(0);
            $('#ddlTipoEje_4').val(0);
            $('#ddlTipoEje_5').val(0);

            $('#txtPesoEje_1').val("");
            $('#txtPesoEje_2').val("");
            $('#txtPesoEje_3').val("");
            $('#txtPesoEje_4').val("");
            $('#txtPesoEje_5').val("");

            $('#txtFVP').val("");
            $('#txtIMDBase').val("");
            $('#txtIMDBase').focus();

            cambiaVehiculo($("#ddlTipoVehiculo").val());

        });

        $("#ddlVehiculo").change(function () {


            var url_a = "/Content/images/vehiculos/";
            var veh = $("#ddlVehiculo :selected").text();
            var url_b = ".jpg";

            veh = veh.replace(/[">]/g, "");

            $("#img_vehiculo").attr("src", url_a + veh.replace(/ /g, "") + url_b);


            document.getElementById("txtPesoEje_1").disabled = true;
            document.getElementById("txtPesoEje_2").disabled = true;
            document.getElementById("txtPesoEje_3").disabled = true;
            document.getElementById("txtPesoEje_4").disabled = true;
            document.getElementById("txtPesoEje_5").disabled = true;

            document.getElementById("txtFVP").disabled = true;

            $('#txtPesoEje_1').val("");
            $('#txtPesoEje_2').val("");
            $('#txtPesoEje_3').val("");
            $('#txtPesoEje_4').val("");
            $('#txtPesoEje_5').val("");

            $('#txtFVP').val("");
            $('#txtIMDBase').val("");
            $('#txtIMDBase').focus();

            ObtenerCantidadEjes($("#ddlVehiculo").val());
        });

        $("#ddlTipoEje_1").change(function () {
            document.getElementById("txtPesoEje_1").disabled = false;
            ObtenerPesoEje($("#ddlVehiculo").val(), $("#ddlTipoEje_1").val(), 1);
        });

        $("#ddlTipoEje_2").change(function () {
            document.getElementById("txtPesoEje_2").disabled = false;
            ObtenerPesoEje($("#ddlVehiculo").val(), $("#ddlTipoEje_2").val(), 2);
        });

        $("#ddlTipoEje_3").change(function () {
            document.getElementById("txtPesoEje_3").disabled = false;
            ObtenerPesoEje($("#ddlVehiculo").val(), $("#ddlTipoEje_3").val(), 3);
        });

        $("#ddlTipoEje_4").change(function () {
            document.getElementById("txtPesoEje_4").disabled = false;
            ObtenerPesoEje($("#ddlVehiculo").val(), $("#ddlTipoEje_4").val(), 4);
        });

        $("#ddlTipoEje_5").change(function () {
            document.getElementById("txtPesoEje_5").disabled = false;
            ObtenerPesoEje($("#ddlVehiculo").val(), $("#ddlTipoEje_5").val(), 5);
        });

        $("#txtPesoEje_1").keyup(function (e) {
            CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");
        });

        $("#txtPesoEje_2").keyup(function (e) {
            CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");
        });

        $("#txtPesoEje_3").keyup(function (e) {
            CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");
        });

        $("#txtPesoEje_4").keyup(function (e) {
            CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");
        });

        $("#txtPesoEje_5").keyup(function (e) {
            CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");
        });

        $("#txtPesoEje_1").focusout(function (e) {

            var PesoEje_1;
            PesoEje_1 = document.getElementById("txtPesoEje_1").value;

            if (PesoEje_1 == '') {
                document.getElementById("txtPesoEje_1").value = 0;
            }

        });

        $("#txtPesoEje_2").focusout(function (e) {

            var PesoEje_2;
            PesoEje_2 = document.getElementById("txtPesoEje_2").value;

            if (PesoEje_2 == '') {
                document.getElementById("txtPesoEje_2").value = 0;
            }
        });

        $("#txtPesoEje_3").focusout(function (e) {

            var PesoEje_3;
            PesoEje_3 = document.getElementById("txtPesoEje_3").value;

            if (PesoEje_3 == '') {
                document.getElementById("txtPesoEje_3").value = 0;
            }
        });

        $("#txtPesoEje_4").focusout(function (e) {

            var PesoEje_4;
            PesoEje_4 = document.getElementById("txtPesoEje_4").value;

            if (PesoEje_4 == '') {
                document.getElementById("txtPesoEje_4").value = 0;
            }

        });

        $("#txtPesoEje_5").focusout(function (e) {

            var PesoEje_5;
            PesoEje_5 = document.getElementById("txtPesoEje_5").value;

            if (PesoEje_5 == '') {
                document.getElementById("txtPesoEje_5").value = 0;
            }
        });

        $("#btnGuardarVehiculoIMD").click(function () {
            setStateConfiguracionesVehiculo();
            cargarConfiguracionTabla();
            $("#btnCalcularEE").click();
        });

        $("#btnCalcularEE").click(function () {

            if (!validarEjesVehiculoTabla()) {
                toastr.error("No se ha agregado vehiculos a la grilla para calcular EE", 'ERROR', { timeOut: 2000 });
                return;
            }

            $(this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Calculando...`);

            setState();
            setStateTasaCrecimientoTiempo();
            setStateTasaCrecimientoVehiculo();

            var modelo = objProyectoDiseno;

            $.ajax({
                method: 'POST',
                url: '/ParametrosAdoquin/CalculoEEFinal',
                data: modelo,
                success: function (respuesta) {

                    if (respuesta === null || respuesta === undefined) {
                        toastr.error("Ocurrio un error, revise los datos", 'ERROR', { timeOut: 2000 });
                        return;
                    }

                    if (respuesta.data === null || respuesta.data === undefined) {
                        toastr.error("Ocurrio un error, revise los datos", 'ERROR', { timeOut: 2000 });
                        return;
                    }

                    objProyectoDiseno = respuesta.data;

                    document.getElementById("txtCantidadESAL").value = format(Number(objProyectoDiseno.parametros.ee.valor_ee).toFixed(2));

                    cargarConfiguracionTabla();

                    calcularConfiabilidadEE();

                    setState();

                    $('#btnCalcularEE').html(`<span class="fa fa-spinner"></span> Calcular EE`);
                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }
            });

        });


        $(document).on("focus", ".mascara", function () {
            $(this).mask("#,##0.00", { reverse: true });
        });

        ocultarmostrarTasaCrecimiento();

        cargarFactorDistrib();

        obtenerFpCalculado(document.getElementById("ddlEspesor").value, document.getElementById("ddlPresion").value);

        cambiaVehiculo($("#ddlTipoVehiculo").val());

        CargarVariableTiempo();

        CargarVariableVehiculo();

        setState();

    });

    function delimitNumbers(str) {
        return (str + "").replace(/\b(\d+)((\.\d+)*)\b/g,
            function (a, b, c) {
                return (b.charAt(0) > 0 && !(c || ".").lastIndexOf(".") ? b.replace(/(\d)(?=(\d{3})+$)/g, "$1,") : b) + c;
            });
    }

    function cargarFactorDistrib() {

        var Calzada = document.getElementById("ddlCalzada").value;
        var CarrilxSentido = document.getElementById("ddlCarrilxSentido").value;
        var NumSentido = document.getElementById("ddlNumSentido").value;

        if (objProyectoDiseno === undefined || objProyectoDiseno.id_diseno === "0" || objProyectoDiseno.id_diseno === "") {
            obtenerFactorDistrib(Calzada, NumSentido, CarrilxSentido);
        }

    }

    function obtenerFactorDistrib(Calzada, NumSentido, CarrilxSentido) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ListarValorFactorDistrib',
            data: { 'Numero_Calzada': Calzada, 'Numero_Sentido': NumSentido, 'Numero_Carril_x_Sentido': CarrilxSentido },
            success: function (respuesta) {

                if (respuesta != '') {

                    var obj = (typeof respuesta) == 'string' ? eval('(' + respuesta + ')') : respuesta;

                    $.each(obj, function (i, item) {

                        if (objProyectoDiseno === undefined || objProyectoDiseno.id_diseno === "0" || objProyectoDiseno.id_diseno === "") {

                            if (item.Valor_Distrib_Calculado != '') {
                                document.getElementById("FdxFc_Calculado").value = item.Valor_Distrib_Calculado.toFixed(2);
                            } else {
                                document.getElementById("FdxFc_Calculado").value = '';
                            }

                        } else {

                            var oldvalue = document.getElementById("FdxFc_Calculado").value;
                            var doldvalue = parseFloat(oldvalue);

                            doldvalue = isNaN(doldvalue) ? 0.00 : doldvalue;

                            if (doldvalue !== item.Valor_Distrib_Calculado) {

                                if (item.Valor_Distrib_Calculado != '') {
                                    document.getElementById("FdxFc_Calculado").value = item.Valor_Distrib_Calculado.toFixed(2);
                                } else {
                                    document.getElementById("FdxFc_Calculado").value = '';
                                }
                            }
                        }

                        if (item.url_img != '' || item.url_img.length > 0) {
                            $("#img_calzadacarril").attr("src", item.url_img);
                        } else {
                            $("#img_calzadacarril").attr("src", "/Content/images/calzadas/NoImage.png");
                        }

                    });

                    guardarFdxFc();

                } else {
                    document.getElementById("FdxFc_Calculado").value = '';
                    $("#img_calzadacarril").attr("src", "/Content/images/calzadas/NoImage.png");

                    document.getElementById("FdxFc_Calculado").focus();
                    toastr.warning("Combinacion NO PERMITIDA!", 'ALERTA', { timeOut: 2000 });

                }
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }

        });

    }

    function guardarFdxFc() {

        var FdxFc_Calculado = document.getElementById("FdxFc_Calculado").value;

        if (FdxFc_Calculado != '') {
            document.getElementById("FdxFc").value = document.getElementById("FdxFc_Calculado").value;
        } else {
            return;
        }

        var objPropFactorDistribucion = {};
        objPropFactorDistribucion["Numero_Calzada"] = document.getElementById("ddlCalzada").value;
        objPropFactorDistribucion["Numero_Sentido"] = document.getElementById("ddlNumSentido").value;
        objPropFactorDistribucion["Numero_Carril_x_Sentido"] = document.getElementById("ddlCarrilxSentido").value;
        objPropFactorDistribucion["Valor_Distrib_Calculado"] = document.getElementById("FdxFc_Calculado").value;
        objPropFactorDistribucion["Valor_Distrib_Ingresado"] = document.getElementById("FdxFc_Calculado").value;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/GuardarFdxFc',
            data: { 'objPropFactorDistribucion': objPropFactorDistribucion },
            success: function (respuesta) {
                document.getElementById("hidId_Prop_Factor_Distrib").value = respuesta;
                setState();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }
        });
    }

    function obtenerFpCalculado(Espesor, Presion) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/obtenerFpCalculado',
            data: { 'Espesor': Espesor, 'Presion': Presion },
            success: function (respuesta) {

                if (respuesta != '') {

                    var obj = (typeof respuesta) == 'string' ? eval('(' + respuesta + ')') : respuesta;

                    $.each(obj, function (i, item) {
                        document.getElementById("txtFpCalculado").value = item.valorFP.toFixed(2);
                    });

                    var FpCalculado = document.getElementById("txtFpCalculado").value;
                    document.getElementById("Fp").value = FpCalculado.length > 0 ? FpCalculado : '';

                } else {
                    document.getElementById("txtFpCalculado").value = '';
                }

            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }
        });
    }

    function ocultarmostrarTasaCrecimiento() {

        var tasacrecimiento = document.getElementById("ddlTasaCrecimiento").value;

        if (tasacrecimiento === "1") {
            $('#dvTasaCrecimientoConstante').show();
            $('#dvTasaCrecimientoVariableTiempo').hide();
            $('#dvTasaCrecimientoVariableVehiculo').hide();
        }
        else if (tasacrecimiento === "2") {
            $('#dvTasaCrecimientoVariableTiempo').show();
            $('#dvTasaCrecimientoVariableVehiculo').hide();
            $('#dvTasaCrecimientoConstante').hide();
            CargarVariableTiempo();
        }
        else {
            $('#dvTasaCrecimientoVariableVehiculo').show();
            $('#dvTasaCrecimientoConstante').hide();
            $('#dvTasaCrecimientoVariableTiempo').hide();
            CargarVariableVehiculo();
        }
    }

    function CargarVariableTiempo() {

        var tbody = '';

        var periodos = $("#PeriodoDiseno").val();
        var iperiodos = parseInt(periodos);

        iperiodos = iperiodos + 1;

        var iddiseno = $("#txtidDisenoNP").val();

        for (i = 1; i < iperiodos; i++) {

            if (iddiseno === 0) {
                tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vt_' + i + '">' + i + '</label>' +
                    '</td><td class="text-sm-center">' + '<label id="lbl_a_vt_' + i + '">' + i + '</label>' +
                    '</td><td class="text-sm-center"> <input id="txt_vt_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="0.00" onfocusout="return setState();" onkeyup="return SumarValoresVariableTiempo();" onkeypress="return filterFloat(event,this);">' +
                    '</td></tr>';
            } else {

                if (objProyectoDiseno === null || objProyectoDiseno === undefined)
                    return;

                if (objProyectoDiseno.parametros === null || objProyectoDiseno.parametros === undefined)
                    return;

                var ovtasatiempo = objProyectoDiseno.parametros.ee.tasa_crecimiento.variable_tiempo?.periodos.find(x => parseInt(x.id) === i);

                if (ovtasatiempo === null || ovtasatiempo === undefined) {
                    tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vt_' + i + '">' + i + '</label>' +
                        '</td><td class="text-sm-center">' + '<label id="lbl_a_vt_' + i + '">' + i + '</label>' +
                        '</td><td class="text-sm-center"> <input id="txt_vt_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="0.00" onfocusout="return setState();" onkeyup="return SumarValoresVariableTiempo();" onkeypress="return filterFloat(event,this);">' +
                        '</td></tr>';
                } else {
                    tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vt_' + i + '">' + ovtasatiempo.id + '</label>' +
                        '</td><td class="text-sm-center">' + '<label id="lbl_a_vt_' + i + '">' + ovtasatiempo.periodo + '</label>' +
                        '</td><td class="text-sm-center"> <input id="txt_vt_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="' + ovtasatiempo.valor_r + '" onfocusout="return setState();" onkeyup="return SumarValoresVariableTiempo();" onkeypress="return filterFloat(event,this);">' +
                        '</td></tr>';
                }
            }
        }

        $("#dgvListadoVariableTiempo tbody").html(tbody);
    }

    function CargarVariableVehiculo() {

        var tbody = '';

        var iddiseno = $("#txtidDisenoNP").val();

        for (i = 1; i < 7; i++) {

            var tipov = ''

            switch (i) {

                case 1:
                    tipov = 'Vehiculos';
                    break;
                case 2:
                    tipov = 'Camionetas';
                    break;
                case 3:
                    tipov = 'Buses';
                    break;
                case 4:
                    tipov = 'Camiones';
                    break;
                case 5:
                    tipov = 'Semi Trailers';
                    break;
                case 6:
                    tipov = 'Trailers';
                    break;
            }

            if (iddiseno === 0) {
                tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vv_' + i + '">' + i + '</label>' +
                    '</td><td class="text-sm-center" style="display:none">' + '<label id="lbl_idt_vv_' + i + '">' + i + '</label>' +
                    '</td><td class="text-sm-center">' + '<label id="lbl_t_vv_' + i + '">' + tipov + '</label>' +
                    '</td><td class="text-sm-center"> <input id="txt_vv_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="0.00" onfocusout="return setState();" onkeyup="SumarValoresVariableVehiculo();" onkeypress="return filterFloat(event,this);">' +
                    '</td></tr>';
            } else {

                if (objProyectoDiseno === null || objProyectoDiseno === undefined)
                    return;

                if (objProyectoDiseno.parametros === null || objProyectoDiseno.parametros === undefined)
                    return;

                var ovtasaveh = objProyectoDiseno.parametros.ee.tasa_crecimiento.variable_vehiculo?.periodos.find(x => parseInt(x.id) === i);

                if (ovtasaveh === null || ovtasaveh === undefined) {
                    tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vv_' + i + '">' + i + '</label>' +
                        '</td><td class="text-sm-center" style="display:none">' + '<label id="lbl_idt_vv_' + i + '">' + i + '</label>' +
                        '</td><td class="text-sm-center">' + '<label id="lbl_t_vv_' + i + '">' + tipov + '</label>' +
                        '</td><td class="text-sm-center"> <input id="txt_vv_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="0.00" onfocusout="return setState();" onkeyup="SumarValoresVariableVehiculo();" onkeypress="return filterFloat(event,this);">' +
                        '</td></tr>';
                } else {
                    tbody += '<tr><td class="text-sm-center">' + '<label id="lbl_id_vv_' + i + '">' + ovtasaveh.id + '</label>' +
                        '</td><td class="text-sm-center" style="display:none">' + '<label id="lbl_idt_vv_' + i + '">' + ovtasaveh.id_tipo_vehiculo + '</label>' +
                        '</td><td class="text-sm-center">' + '<label id="lbl_t_vv_' + i + '">' + ovtasaveh.tipo_vehiculo + '</label>' +
                        '</td><td class="text-sm-center"> <input id="txt_vv_' + i + '" maxlength="6" type="text" placeholder="0.00" class="mr-3 col-sm-8 form-control form-control-sm input-number mascara" value="' + ovtasaveh.valor_r + '" onfocusout="return setState();" onkeyup="SumarValoresVariableVehiculo();" onkeypress="return filterFloat(event,this);">' +
                        '</td></tr>';
                }
            }
        }

        $("#dgvListadoVariableVehiculo tbody").html(tbody);
    }

    function SumarValoresVariableTiempo() {

        var dcrinput = 0;

        var periodos = $("#PeriodoDiseno").val();
        var iperiodos = parseInt(periodos);
        iperiodos = iperiodos + 1;

        var total = 1.00;
        var totaltasa = 0.00;

        for (i = 1; i < iperiodos; i++) {
            var strinput = document.getElementById("txt_vt_" + i).value;
            var dcrinputi = strinput === "" ? 0.00 : parseFloat(strinput);
            dcrinputi = dcrinputi === NaN ? 0.00 : dcrinputi;


            total = total * (1 + (dcrinputi / 100));
        }

        totaltasa = (total - 1) * 100;

        document.getElementById('ValorTotalCrecxTiempo').value = totaltasa.toFixed(2);

        document.getElementById("TasaCrecimiento").value = $("#ddlTasaCrecimiento :selected").text().trim();
        $('#lblTasaCrecimiento').html('Tasa de Crecimiento (%) :');

    }

    function SumarValoresVariableVehiculo() {

        var dcrinput = 0;

        for (i = 1; i < 7; i++) {
            var strinput = document.getElementById("txt_vv_" + i).value;
            var dcrinputi = strinput === "" ? 0.00 : parseFloat(strinput);
            dcrinputi = dcrinputi === NaN ? 0.00 : dcrinputi;
            dcrinput += dcrinputi;
        }

        document.getElementById('ValorTotalCrecxVehiculo').value = dcrinput.toFixed(2);

        document.getElementById("TasaCrecimiento").value = $("#ddlTasaCrecimiento :selected").text().trim();
        $('#lblTasaCrecimiento').html('Tasa de Crecimiento (%) :');
    }

    function cambiaVehiculo(idTipoVehiculo) {

        var dd = document.getElementById("ddlVehiculo");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlVehiculo").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("TipoVehiculo incorrecto");
        });


        var objData = {};
        objData["idTipoVehiculo"] = idTipoVehiculo;

        $.ajax({
            type: "POST",
            url: '/ParametrosAdoquin/ListaVehiculo',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Vehiculos) {

                var obj = (typeof Vehiculos) == 'string' ? eval('(' + Vehiculos + ')') : Vehiculos;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Vehiculos, item.Id_Vehiculos);

                });


                dd.disabled = false;

                var url_a = "/Content/images/vehiculos/";
                var veh = $("#ddlVehiculo :selected").text();
                var url_b = ".jpg";

                veh = veh.replace(/[">]/g, "");

                $("#img_vehiculo").attr("src", url_a + veh.replace(/ /g, "") + url_b);

                document.getElementById("txtPesoEje_1").disabled = true;
                document.getElementById("txtPesoEje_2").disabled = true;
                document.getElementById("txtPesoEje_3").disabled = true;
                document.getElementById("txtPesoEje_4").disabled = true;
                document.getElementById("txtPesoEje_5").disabled = true;

                document.getElementById("txtFVP").disabled = true;

                $('#txtPesoEje_1').val("");
                $('#txtPesoEje_2').val("");
                $('#txtPesoEje_3').val("");
                $('#txtPesoEje_4').val("");
                $('#txtPesoEje_5').val("");

                $('#txtFVP').val("");
                $('#txtIMDBase').val("");
                $('#txtIMDBase').focus();

                ObtenerCantidadEjes($("#ddlVehiculo").val());

            }
        });
    }

    function ObtenerCantidadEjes(idVehiculo) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ObtenerCantidadEjes',
            data: { 'idVehiculo': idVehiculo },
            success: function (respuesta) {

                for (var i = 1; i <= respuesta; i++) {
                    document.getElementById("ddlTipoEje_" + i).disabled = true;
                    cambiaEjexVehiculo(idVehiculo, i)
                }

                mostrarCantidadEjes(respuesta);
            },
            error: function (xhr, status) {
                alert("ERROR");
            }
        });
    }

    function cambiaEjexVehiculo(idVehiculo, i) {

        var dd = document.getElementById("ddlTipoEje_" + i);
        var ff = document.getElementById("txtPesoEje_" + i);


        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("ddlTipoEje_" + i).ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("TipoEje incorrecto");
        });

        var objData = {};
        objData["idVehiculo"] = idVehiculo;

        $.ajax({
            type: "POST",
            url: '/ParametrosAdoquin/ListarEjesxVehiculo',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (TipoEje) {

                var obj = (typeof TipoEje) == 'string' ? eval('(' + TipoEje + ')') : TipoEje;

                $.each(obj, function (x, item) {

                    dd.options[x] = new Option(item.Valor, item.Id_Eje);

                    if (i === item.Posicion)
                        dd.value = item.Id_Eje;
                });

                //alert(dd.value);
                ObtenerPesoEje($("#ddlVehiculo").val(), dd.value, i);

                ff.disabled = false;
                //dd.disabled = false;
            }
        });

    }

    function ObtenerPesoEje(idVehiculo, idEje, a) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ListarEjesPeso',
            data: { 'idVehiculo': idVehiculo, 'idEje': idEje },
            success: function (respuesta) {

                document.getElementById("txtPesoEje_" + a).value = respuesta;
                CalcularFVP($("#ddlTipoVehiculo").val(), $("#ddlVehiculo").val(), "ASFALTO");

            },
            error: function (xhr, status) {
                alert("ERROR");
            }
        });

    }

    function CalcularFVP(idTipoVehiculo, idVehiculo, TipoDiseno) {

        var PesoE1 = document.getElementById("txtPesoEje_1").value;
        var PesoE2 = document.getElementById("txtPesoEje_2").value;
        var PesoE3 = document.getElementById("txtPesoEje_3").value;
        var PesoE4 = document.getElementById("txtPesoEje_4").value;
        var PesoE5 = document.getElementById("txtPesoEje_5").value;

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/CalcularFVP',
            data: { 'idTipoVehiculo': idTipoVehiculo, 'idVehiculo': idVehiculo, 'TipoDiseno': TipoDiseno, 'PesoE1': PesoE1, 'PesoE2': PesoE2, 'PesoE3': PesoE3, 'PesoE4': PesoE4, 'PesoE5': PesoE5 },
            success: function (respuesta) {

                document.getElementById("txtFVP").value = respuesta;

            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function mostrarCantidadEjes(cantidad) {

        document.getElementById('hidCantidadEjes').value = cantidad;

        var icantidad = parseInt(cantidad) + 1;

        for (var i = 1; i < 6; i++) {

            var iddivddl = "#eje" + i + "_ddl";
            var iddivtxt = "#eje" + i + "_txt";

            $(iddivddl).hide();
            $(iddivtxt).hide();
        }

        for (var i = 1; i < icantidad; i++) {

            var iddivddl = "#eje" + i + "_ddl";
            var iddivtxt = "#eje" + i + "_txt";

            $(iddivddl).show();
            $(iddivtxt).show();
        }
    }

    function cargarConfiguracionTabla() {

        var arrvehiculos = objProyectoDiseno.parametros.ee.configuraciones_vehiculo_ee;

        if (arrvehiculos !== null) {

            var tbody = '';

            for (var i = 0; i < arrvehiculos.length; i++) {

                var obj = arrvehiculos[i];

                var tbodydata = '<tr><td class="text-sm-center" style="display:none" id="Id_Vehiculos">' + obj.id_vehiculos + '</td>' +
                    '<td class="text-sm-center" id="ruta_imagen"><div><img id="img_vehiculoIMD" src=\'' + obj.imagen_vehiculo + '\' style="max-width: 50%; max-height: 50%;" class=""></div></td>' +
                    '<td class="text-sm-center" id="Vehiculos" style="text-align: center; vertical-align: middle">' + obj.vehiculo.valor_descripcion + '</td>' +
                    '<td class="text-sm-center" id="IMD_Base" style="text-align: center; vertical-align: middle">' + obj.imd_base + '</td>';

                var ejes = obj.ejes;
                var tbodyejes = "";

                for (var j = 1; j < 6; j++) {

                    var cantejes = ejes.length;

                    if (cantejes >= j) {
                        var eje = ejes[j - 1];

                        var peso_eje = isNaN(parseFloat(eje.peso)) ? 0.00 : parseFloat(eje.peso);

                        tbodyejes += '<td class="text-sm-center" id="Tipo_Eje_E' + eje.numero + '" style="text-align: center; vertical-align: middle">' + eje.tipo.valor_descripcion + '</td>' +
                            '<td class="text-sm-center" id="Peso_Tonelada_E' + eje.numero + '" style="text-align: center; vertical-align: middle">' + peso_eje.toFixed(2) + '</td>';
                    } else {
                        tbodyejes += '<td class="text-sm-center" id="Tipo_Eje_E' + j + '" style="text-align: center; vertical-align: middle"></td>' +
                            '<td class="text-sm-center" id="Peso_Tonelada_E' + j + '" style="text-align: center; vertical-align: middle"></td>';
                    }

                }

                var buttondelete = '<button type="button" id="btnEliminarVehiculoIMD" onclick="removerVehiculoConfiguracion(\'' + obj.id_vehiculos + '\');" class="btn btn-outline-danger"><span class="icon-close"></span></button>';

                var fvp = isNaN(parseFloat(obj.fvp)) ? 0.00 : parseFloat(obj.fvp);
                var valor_ee = isNaN(parseFloat(obj.valor_ee)) ? 0.00 : parseFloat(obj.valor_ee);
                var valor_ee_format = format(Number(valor_ee).toFixed(2));

                var tbodyfinal = '<td class="text-sm-center" id="Valor_FVP" style="text-align: center; vertical-align: middle">' + fvp.toFixed(2) + '</td>' +
                    '<td class="text-sm-center" id="Valor_EE" style="text-align: center; vertical-align: middle">' + valor_ee_format + '</td>' +
                    '<td class="text-sm-center" id="Opc" style="text-align: center; vertical-align: middle">' + buttondelete + '</td></tr>';

                tbodydata = tbodydata + tbodyejes + tbodyfinal;
                tbody += tbodydata;
            }

            $("#dgvListadoVehiculosIMD tbody").html(tbody);

        }
    }

    function removerVehiculoConfiguracion(idvehiculo) {

        var arrvehiculos = objProyectoDiseno.parametros.ee.configuraciones_vehiculo_ee;

        objProyectoDiseno.parametros.ee.configuraciones_vehiculo_ee = arrvehiculos.filter(function (item) {
            return item.id_vehiculos !== idvehiculo
        });

        cargarConfiguracionTabla();

    }

    function validarEjesVehiculoTabla() {


        if (objProyectoDiseno.parametros.ee.configuraciones_vehiculo_ee === null || objProyectoDiseno.parametros.ee.configuraciones_vehiculo_ee.length === 0) {
            return false;
        }

        return true;
    }

    function validarCamposParametros() {

        var cantee = $("#txtCantidadESAL").val();
        var confiab = $("#txtConfiab").val();
        var modresil = $("#txtModResilenciaSub").val();
        var servini = $("#txtServInicial").val();
        var servfin = $("#txtServFinal").val();
        var tasacrecimiento = $("#TasaCrecimiento").val();
        var errorcomb = $("#txtErrorComb").val();


        if (cantee === "" || cantee === "0.00") {
            toastr.warning('El campo CANTIDAD EE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return false;
        }

        if (modresil === "" || modresil === "0.00") {
            toastr.warning('El campo MODULO RESILENCIA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return false;
        }

        if (tasacrecimiento === "" || tasacrecimiento === "0.00") {
            toastr.warning('El campo TASA CRECIMIENTO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return false;
        }

        if (errorcomb === "" || errorcomb === "0.00") {
            toastr.warning('El campo ERROR COMBINACION ESTANDAR es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (confiab === "" || confiab === "0.00") {
            toastr.warning('El campo CONFIABILIDAD es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (servini === "" || servini === "0.00") {
            toastr.warning('El campo SERVICIALIDAD INICIAL es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (servfin === "" || servfin === "0.00") {
            toastr.warning('El campo SERVICIALIDAD FINAL es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        return true;
    }


    function filterFloat(evt, input) {

        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }

    function filter(__val__) {

        var preg = /^([0-9]+\.?[0-9]{0,3})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }

    function roundNumber(num) {
        return Math.round(num * 100) / 100;
    }

    function redondeo(numero, decimales) {
        var flotante = parseFloat(numero);
        var resultado = Math.round(flotante * Math.pow(10, decimales)) / Math.pow(10, decimales);
        return resultado;
    }

    function delimitNumbers(str) {
        return (str + "").replace(/\b(\d+)((\.\d+)*)\b/g,
            function (a, b, c) {
                return (b.charAt(0) > 0 && !(c || ".").lastIndexOf(".") ? b.replace(/(\d)(?=(\d{3})+$)/g, "$1,") : b) + c;
            });
    }


    function cargarFactorDistribEdit() {

        var Calzada = document.getElementById("ddlCalzada").value;
        var CarrilxSentido = document.getElementById("ddlCarrilxSentido").value;
        var NumSentido = document.getElementById("ddlNumSentido").value;


        obtenerFactorDistribEdit(Calzada, NumSentido, CarrilxSentido);

    }

    function obtenerFactorDistribEdit(Calzada, NumSentido, CarrilxSentido) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAdoquin/ListarValorFactorDistrib',
            data: { 'Numero_Calzada': Calzada, 'Numero_Sentido': NumSentido, 'Numero_Carril_x_Sentido': CarrilxSentido },
            success: function (respuesta) {

                if (respuesta != '') {

                    var obj = (typeof respuesta) == 'string' ? eval('(' + respuesta + ')') : respuesta;

                    $.each(obj, function (i, item) {

                        if (objProyectoDiseno === undefined || objProyectoDiseno.id_diseno === "0" || objProyectoDiseno.id_diseno === "") {

                            if (item.Valor_Distrib_Calculado != '') {
                                document.getElementById("FdxFc_Calculado").value = item.Valor_Distrib_Calculado.toFixed(2);
                            } else {
                                document.getElementById("FdxFc_Calculado").value = '';
                            }

                        } else {

                            var oldvalue = document.getElementById("FdxFc_Calculado").value;
                            var doldvalue = parseFloat(oldvalue);

                            doldvalue = isNaN(doldvalue) ? 0.00 : doldvalue;

                            if (doldvalue !== item.Valor_Distrib_Calculado) {

                                if (item.Valor_Distrib_Calculado != '') {
                                    document.getElementById("FdxFc_Calculado").value = item.Valor_Distrib_Calculado.toFixed(2);
                                } else {
                                    document.getElementById("FdxFc_Calculado").value = '';
                                }
                            }
                        }

                        if (item.url_img != '' || item.url_img.length > 0) {
                            $("#img_calzadacarril").attr("src", item.url_img);
                        } else {
                            $("#img_calzadacarril").attr("src", "/Content/images/calzadas/NoImage.png");
                        }

                    });

                } else {
                    document.getElementById("FdxFc_Calculado").value = '';
                    $("#img_calzadacarril").attr("src", "/Content/images/calzadas/NoImage.png");

                    document.getElementById("FdxFc_Calculado").focus();
                    toastr.warning("Combinacion NO PERMITIDA!", 'ALERTA', { timeOut: 2000 });

                }
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }

        });

    }


</script>
