﻿
<div class="row">

    <div class="col-lg-4">
        <div class="overdue card" style="cursor:pointer">
            <form id="frmConcreto" class="form-inline" method="post" action="/Seguridad/Aplicaciones?IdAplicacion=3">
                <div id="dvConcreto" class="card-body">
                    <h3 class="lead text-center">Diseño de pavimentos con concreto</h3>
                    @*<small>Click en la imagen para más detalle.</small>*@
                    <div class="number text-center">
                        <button type="submit" style="height:150px; width:250px; border-radius: 10px" class="btn" role="button">
                            <img src="~/Content/images/Diseno_Concreto.png" class="img-thumbnail" alt="Responsive image" width="250" height="150">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="overdue card" style="cursor:pointer">
            <form id="frmAsfalto" class="form-inline" method="post" action="/Seguridad/Aplicaciones?IdAplicacion=1">
                <div id="dvAsfalto" class="card-body">
                    <h3 class="lead text-center">Diseño de pavimentos con asfalto</h3>
                    @*<small>Click en la imagen para más detalle.</small>*@
                    <div class="number text-center">
                        <button type="submit" style="height:150px; width:250px; border-radius: 10px" class="btn" role="button">
                            <img src="~/Content/images/Diseno_Asfalto.jpg" class="img-thumbnail" alt="Responsive image" width="250" height="150">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="overdue card" style="cursor:pointer">
            <form id="frmAdoquin" class="form-inline" method="post" action="/Seguridad/Aplicaciones?IdAplicacion=2">
                <div id="dvAdoquin" class="card-body">
                    <h3 class="lead text-center">Diseño de pavimentos con adoquines</h3>
                    @*<small>Click en la imagen para más detalle.</small>*@
                    <div class="number text-center">
                        <button type="submit" style="height:150px; width:250px; border-radius: 10px" class="btn" role="button">
                            <img src="~/Content/images/Diseno_Adoquin.jpg" class="img-thumbnail" alt="Responsive image" width="250" height="150">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#dvConcreto").click(function () {
            $('#frmConcreto').submit();
        });
    });

    $(document).ready(function () {
        $("#dvAsfalto").click(function () {
            $("#frmAsfalto").submit();
        });
    });

    $(document).ready(function () {
        $("#dvAdoquin").click(function () {
            $("#frmAdoquin").submit();
        });
    });

</script>