﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ASOCEM – Proyecto AASHTO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <style type="text/css">

        .login-color {
            background: rgba(0,101,72, 1) !important;
            color: #fff !important;
        }

        header.masthead {
            position: relative;
            background-color: #343a40;
            background: url(../Content/img/home2.jpg);
            background-size: cover;
            padding-top: 15rem;
            padding-bottom: 10rem;
            height: 40rem;
        }

    </style>

</head>
<body>

    <nav class="navbar" style="background-color:white;">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header col-lg-6">
                    <div class="brand-text d-none d-lg-inline-block">
                        <img src="~/Content/images/logo_neuvo_asocem.jpg" style="width:auto;height:5em; margin-left:5em;" />
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="text-white">
                        <!-- Page heading-->
                        <h1 style="font-weight:normal !important; font-size:35px;">
                            Única herramienta acoplada a la metodología de AASHTO-93 según las normas peruanas para el diseño de pavimentos!
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="text-justify">
            <div class="container">
                <div class="row col-lg-12 d-lg-inline-flex">
                    <div class="col-lg-8">
                        <br />
                        <br />
                        <br />
                        <span>
                            Bienvenido a la Plataforma de Diseño para Pavimentos ASOCEM,  una herramienta para el diseño de proyectos de pavimentos según las
                            normas vigentes peruanas, con diversos tipos de materiales y productos, entre ellos: concreto, asfalto y adoquines.
                            La herramienta determina el espesor recomendado de capas que se requiere en cada proyecto de acuerdo con el tráfico esperado y
                            otros criterios importantes para un diseño adecuado aplicando la metodología AASHTO-93.
                        </span>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <div class="panel">
                            <div class="container">
                                <div class="row" id="dvLogin">
                                    <div class="col-sm-12">
                                        <div class="panel-heading">
                                            <div class="text-left">
                                                <h3>Iniciar Sesión</h3>
                                            </div>
                                        </div>
                                        <div class="panel-default" style="margin-left:1em;">
                                            @using (Html.BeginForm("Login", "Seguridad", FormMethod.Post))
                                            {
                                                <form method="post" class="form-validate">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="login-username" class="label-material" style="color:#6bb435;">Usuario &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                                            <input id="login-username"  autocomplete="off" type="text" name="loginUsername"  required data-msg="Please enter your username" class="input-material">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="login-password" class="label-material" style="color:#6bb435;">Contraseña</label>
                                                            <input id="login-password" autocomplete="off" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary" style="background-color: #6bb435; border-color: #6bb435;">
                                                        Login
                                                    </button>
                                                    <div>
                                                        <label for="login-password" class="label-material">@ViewBag.Mensaje</label>
                                                    </div>
                                                </form>
                                            }
                                            <small>No puede acceder a su cuenta? </small>
                                            <br>
                                            <a id="btnSig_a" style="color:#6bb435; cursor:pointer"  class="forgot-pass">Recuperar Contraseña</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="dvRecuperar" style="display:none">
                                    <div class="col-sm-12">
                                        <div class="panel-heading">
                                            <div class="text-left">
                                                <h3>Recuperar Contraseña</h3>
                                            </div>
                                        </div>
                                        <div class="panel-default" style="margin-left:1em;">
                                            <br />
                                            <h3>
                                                <small>Ingrese su correo electronico. </small><a href="#" class="signup"></a>
                                            </h3>
                                            <br />
                                            <div class="form-group">
                                                <label for="login-email" class="label-material" style="color:#6bb435;">Email</label>
                                                <input id="login-email" type="text" name="loginEmail" required data-msg="Please enter your email" class="input-material ">
                                            </div>
                                            <button type="button" id="btnAnt_b" class="prevtab btn btn-primary" style="background-color: #6bb435; border-color: #6bb435;"><span class="fa fa-user-o"></span> Login</button>
                                            <button type="button" id="btnSig_b" class="btn btn-primary" style="background-color: #6bb435; border-color: #6bb435;"><span class="fa fa-envelope-o"></span> Enviar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="dvResultado" style="display:none">
                                    <div class="col-sm-12">
                                        <div class="panel-heading">
                                            <div class="text-left">
                                                <h3>Resultado recuperación</h3>
                                            </div>
                                        </div>
                                        <div class="panel-default" style="margin-left:1em;">
                                            <br />
                                            <h3>
                                                <small> <label id="lblmensaje"></label></small>

                                                <a href="#" class="signup"></a>
                                            </h3>
                                            <button type="button" id="btnAnt_c" class="btn btn-primary" style="background-color: #6bb435; border-color: #6bb435;"><span class="fa fa-user-o"></span> Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </section>
        <section class="text-center">
            <div class="container">
                <div class="row col-lg-12">
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/Content/images/image1.jpeg" style="height:270px">
                            <div class="card-body">
                                <p class="card-text">Permite diseñar y comparar los resultados de construcción con concreto, asfalto y adoquines.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="~/Content/images/image0.jpeg" style="height: 250px ">
                            <div class="card-body">
                                <p class="card-text">Se genera un espacio en el proceso de difusión e impulso de la construcción de pavimentos de manera eficiente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;"> 
                            <img class="card-img-top" src="~/Content/images/image2.jpeg" style="height: 250px ">
                            <div class="card-body">
                                <p class="card-text">De interés para ingenieros, arquitectos, diseñadores y para todas las personas relacionadas con la construcción de pavimentos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>  
    <footer style="background-color: black; height: 9em;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6" style="margin-left: 5em;">
                    <a href="http://www.asocem.org.pe/" class="navbar-brand d-none d-sm-inline-block" style="color:white">
                        <span>&nbsp;&nbsp; www.asocem.org.pe</span>
                    </a>
                    <div class="brand-text">
                        <img src="~/Content/images/logo_neuvo_asocem.jpg" style="width: auto; height: 5em;" />
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                </div>
            </div>
        </div>
    </footer>

        <!-- JavaScript files-->
        <script src="~/Scripts/jquery.min.js"></script>
        @*<script src="~/Scripts/popper.min.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/Chart.min.js"></script>
        <!--<script src="~/Scripts/jquery-validation/jquery.validate.min.js"></script>-->
        <!-- Main File-->
        <script src="~/Scripts/front.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {

                $("#btnSig_a").click(function () {

                    document.getElementById("login-email").value = '';

                    $("#dvRecuperar").show();
                    $("#dvLogin").hide();

                });

                $("#btnAnt_b").click(function () {

                    $("#dvRecuperar").hide();
                    $("#dvLogin").show();
                });

                $("#btnSig_b").click(function () {

                    email = document.getElementById("login-email").value;

                    if (email == '') {
                        return;
                    }

                    $.ajax({
                        method: 'POST',
                        url: '/Seguridad/SendEmail',
                        data: { 'EmailDestino': email },
                        success: function (respuesta) {

                            document.getElementById('lblmensaje').innerHTML = respuesta;

                            $("#dvRecuperar").hide();
                            $("#dvResultado").show();
                        },
                        error: function (xhr, status) {
                            console.log(xhr);
                            console.log(status);
                        }
                    });
                });

                $("#btnAnt_c").click(function () {

                    $("#dvResultado").hide();
                    $("#dvLogin").show();

                });

            });

            function bootstrapTabControl() {
                var i, items = $('.nav-link'), pane = $('.tab-pane');
                // next
                $('.nexttab').on('click', function () {
                    for (i = 0; i < pane.length; i++) {

                        if ($(pane[i]).hasClass('active') == true) {
                            break;
                        }
                    }

                    for (j = 0; j < items.length; j++) {

                        if ($(items[j]).hasClass('active') == true) {
                            break;
                        }
                    }

                    //alert("items: " + j);
                    //alert("pane: " + i);

                    //if (i < items.length - 1) {
                    if (i + 1 <= 2) {
                        // for tab
                        $(items[j]).removeClass('active');
                        $(items[j + 1]).addClass('active');
                        // for pane
                        $(pane[i]).removeClass('show active');
                        $(pane[i + 1]).addClass('show active');
                    }

                });
                // Prev
                $('.prevtab').on('click', function () {
                    for (i = 0; i < pane.length; i++) {
                        if ($(pane[i]).hasClass('active') == true) {
                            break;
                        }
                    }

                    for (j = 0; j < items.length; j++) {
                        if ($(items[j]).hasClass('active') == true) {
                            break;
                        }
                    }


                    if (i != 0) {
                        // for tab
                        $(items[j]).removeClass('active');
                        $(items[j - 1]).addClass('active');
                        // for pane
                        $(pane[i]).removeClass('show active');
                        $(pane[i - 1]).addClass('show active');
                    }
                });
            }

            bootstrapTabControl();

        </script>

</body>
</html>

