﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers


@{
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

@{
    ViewBag.Title = "Contacto";
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li id="ltTitulo" class="breadcrumb-item active" aria-current="page">Terminos y Condiciones</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div id="dvTC">
                <div class="col-lg-12">
                    <p>
                        Por favor lea y apruebe los documentos a continuación para poder ingresar a la plataforma." Luego aparece el primer documento: "Términos y condiciones de uso de la plataforma". Aparece el mensaje en la parte superior: Esto lo podrá leer bajando con la barra de desplazamiento y al final del documento se encuentra un botón para “no acepto” y otro para “acepto”.
                    </p>
                </div>
                <div class="col-lg-12">
                    <iframe src="~/Content/Docs/terminos_condiciones.pdf" width="100%" height="1000px"></iframe>
                </div>
                <div class="col-lg-12">
                    <div class="card-footer d-flex align-items-center align-content-center justify-content-center">
                        <div class=" clearfix">
                            <div class="p-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" id="btnNoAcepta" class="btn btn-danger small"><span class="fa fa-close"></span>  No Acepto</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    &nbsp;&nbsp;&nbsp;&nbsp;  <button type="button" id="btnAcepta" class="btn btn-primary small"><span class="fa fa-check"></span> Acepto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dvPD" style="display:none">
                <div class="col-lg-12">
                    <iframe src="~/Content/Docs/politica_privacidad.pdf" width="100%" height="1000px"></iframe>
                </div>
                <div class="col-lg-12">
                    <div class="card-footer d-flex align-items-center align-content-center justify-content-center">
                        <div class=" clearfix">
                            <div class="p-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" id="btnNoAceptaPD" class="btn btn-danger small"><span class="fa fa-close"></span>  No Acepto</button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" id="btnAceptaPD" class="btn btn-primary small"><span class="fa fa-check"></span> Acepto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("AceptaTC", "Seguridad", FormMethod.Post))
{
    <input type="submit" id="btnSubmit" value="btnSubmit" style="display:none" />
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {


        $("#btnNoAcepta").click(function () {
            window.location.href = "/Seguridad/Logout";
        });

        $("#btnNoAceptaPD").click(function () {
            window.location.href = "/Seguridad/Logout";
        });

        $("#btnAcepta").click(function () {
            $("#ltTitulo").html("Política de protección de datos");
            $("#dvPD").show();
            $("#dvTC").hide();
        });

        $("#btnAceptaPD").click(function () {
            $("#btnSubmit").click();
        });



    });


</script>