﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;
}

<div class="col-lg-12">

    <div class="row col-12">
        <div class="form-group col-md-3" style="padding-top:2em">
            <img src="~/Content/images/concreto/Pavimento_Cuadro.jpg" style="width: 200px; height: 180px;">
        </div>

        <div class="form-group col-md-5">
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">MR de Concreto</label>
                <div class="form-inline">
                    <input id="txtFC" data-id="4" type="text" disabled placeholder="MR" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#MEModal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">CBR de Sub Base</label>
                <div class="form-inline">
                    <input id="txtCBR_1" data-id="1" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CBR_1_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">CBR de Sub-Rasante</label>
                <div class="form-inline">
                    <input id="txtCBR_2" data-id="1" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CBR_2_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
        </div>
    </div>

    <h5>D REQUERIDO</h5>
    <hr />

    <div class="row col-12">
        <div class="col d-flex justify-content-center">
            <img src="~/Content/images/concreto/Pavimento_Formula.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>
    <div class="row col-12 col d-flex justify-content-center">
        <div class="form-group col-md-3">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">N18 Nominal / Calculado</label>
            <input id="txtN18Nominal" data-id="1" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-12 form-control form-control-sm">

        </div>
        <div class="form-group col-md-3">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">D Requerido</label>
            <input id="txtDRequerido" data-id="1" type="text" disabled value="0.00" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
        </div>
        <div class="form-group col-md-2" style="margin-top:1.9em">
            <button type="button" id="btnIgualarDRequerido" class="btn btn-primary btn-sm"><span class="fa fa-exchange"></span> Igualar</button>
        </div>
    </div>


    <h5>ESPESORES DE CAPA</h5>
    <hr />


    <div class="row col-12">
        <div class="form-group col-md-3 col d-flex justify-content-center">
            <img src="~/Content/images/concreto/Pavimento_Cuadro.jpg" style="width: 200px; height: 180px;">
        </div>
        <div class="form-group col-md-4">
            <div class="form-group col-md-12" style="margin-top:1em">
                <div class="form-inline">
                    <input id="txtConcreto" data-id="4"  type="text" disabled value="0.00" class="column_filter mr-1 col-sm-10 form-control form-control-sm"><h6>cm</h6>
                </div>
            </div>
            <div class="form-group col-md-12" style="margin-top:2em">
                <div class="form-inline">
                    <input id="txtSubBase" data-id="1" type="text"  disabled value="0.00" class="column_filter mr-1 col-sm-10 form-control form-control-sm"><h6>cm</h6>
                </div>
            </div>
        </div>
        <div class="form-group col-md-5">
            <p align="justify">
                Comentarios:
            </p>
            <p align="justify">
                * Las lozas serán moduladas de 3.60m x 3.60 a 4.50m.
            </p>
            <p align="justify">
                * Las juntas longitudinales y transversales serán de 3mm.
            </p>
            <p align="justify">
                * No llevará barras de transferencia de carga, únicamente los dowels se pondrán en las juntas de construcción.
            </p>
        </div>
    </div>
</div>


<!-- ME -->
<div class="modal fade" id="MEModal" tabindex="-1" role="dialog" aria-labelledby="MEModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MÓDULO DE ELÁSTICO (ME) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="center">
                                    Es la medida de la tenacidad y rigidez del material o su capacidad elástica.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 1 -->
<div class="modal fade" id="CBR_1_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_1_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (BASE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Para carreteras con un tráfico en EE menores o igual a 10,000,000; el CBR
                                    de la base debe ser mínimo 80%.
                                </p>
                                <p align="justify">
                                    Para carreteras con un tráfico en EE mayores a 10,000,000; el CBR
                                    de la base debe ser mínimo 80%.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 2 -->
<div class="modal fade" id="CBR_2_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_2_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:550px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (SUB BASE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    El CBR debe ser mayor o igual a 40%.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 3 -->
<div class="modal fade" id="CBR_3_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_3_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:660px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (SUB RASANTE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/pavimento_2.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- BASE SUB-BASE SUB-RASANTE -->
<div class="modal fade" id="BaseSubModal" tabindex="-1" role="dialog" aria-labelledby="BaseSubModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INFORMACIÓN </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/asfalto/ley_cap_asf.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- info CBR MODAL -->
<div class="modal fade" id="infoCBRModal" tabindex="-1" role="dialog" aria-labelledby="infoCBRModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR de Sub-Rasante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="2">
                                <p align="justify">
                                    CBR (California Bearing Ratio): Evalúa la calidad del suelo por medio de la
                                    resistencia al esfuerzo cortante. Se efectúa bajo condiciones controladas de humedad
                                    y densidad.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">CUADRO CBR</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">GRÁFICO CBR</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p> &nbsp; &nbsp; &nbsp;</p>
                                        <img src="~/Content/images/asfalto_3.jpg" style="max-width: 100%; max-height: 100%;" />
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="text-align:center;">
                                        <p> &nbsp; &nbsp; &nbsp;</p>
                                        <img src="~/Content/images/asfalto_4.jpg" style="max-width: 100%; max-height: 100%;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODULO DE RESILENCIA (MR) -->
<div class="modal fade" id="MR_Modal" tabindex="-1" role="dialog" aria-labelledby="MR_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MÓDULO DE RESILENCIA (MR) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Es el índice que describe la relación no lineal de esfuerzos - deformaciones de los
                                    suelos bajo cargas repetidas.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>


<script type="text/javascript">

    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara

        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara

        $("#btnIgualarDRequerido").click(function () {
            obtenerValoresCapasPavimento();
        });

        setState();
    });

    function obtenerValoresCapasPavimento() {


        var CantidadESAL = document.getElementById("txtCantidadESAL").value;
        if (CantidadESAL == '') {
            toastr.warning("Ingrese Cantidad de EE", 'ADVERTENCIA', { timeOut: 2000 });
            return;
        }

        if (validarCamposCapasDReq()) {


            $('#btnIgualarDRequerido').attr("disabled", true);
            $("#btnIgualarDRequerido").html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generando...`);

            $.ajax({
                method: 'POST',
                url: '/ParametrosAsfalto/calcularN18Nom',
                data: { 'CantESAL': CantidadESAL },
                success: function (respuesta) {
                    document.getElementById("txtN18Nominal").value = roundNumber(respuesta);
                    igualarDRequerido();
                },
                error: function (xhr, status) {
                    alert("ERROR DE CÓDIGO");
                }

            });
        }
    }

    function igualarDRequerido() {

        var obj = {
            "ZR": $("#txtDesvEstandar").val(),
            "SO": $("#txtErrorComb").val(),
            "PSI": $("#txtDifServ").val(),
            "PT": $("#txtServFinal").val(),
            "MR": $("#txtModRotura").val(),
            "CD": $("#txtCoefDrenaje").val(),
            "J": $("#txtCoefTransferencia").val(),
            "EC": $("#txtModElasticidad").val(),
            "KC": $("#txtModReaccion").val(),
            "N18Calc": $("#txtN18Nominal").val(),
            "N18Nom": $("#txtN18Nominal").val(),
        };


        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/calcularDReq',
            data: { 'obj': obj },
            success: function (respuesta) {

                document.getElementById("txtDRequerido").value = roundNumber(respuesta);

                $('#btnIgualarDRequerido').html(`<span class="fa fa-exchange"></span> Igualar`);

                $('#btnIgualarDRequerido').attr("disabled", false);

                var concreto = parseInt(roundNumber(respuesta) / 10.00);

                $("#txtConcreto").val(concreto.toFixed(2));

                $("#txtSubBase").val($("#txtH_SubBase_Porc").val());

                setState();
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }
        });

    }

    function validarCamposCapasDReq() {

        var desvest = $("#txtDesvEstandar").val();
        var errorcomb = $("#txtErrorComb").val();
        var difserv = $("#txtDifServ").val();
        var servfin = $("#txtServFinal").val();
        var modrotura = $("#txtModRotura").val();
        var coefdren = $("#txtCoefDrenaje").val();
        var coeftrans = $("#txtCoefTransferencia").val();
        var modelast = $("#txtModElasticidad").val();
        var modreaccion = $("#txtModReaccion").val();


        if (modreaccion === "" || modreaccion === "0.00") {
            toastr.warning('El campo MODULO REACION es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return false;
        }

        if (errorcomb === "" || errorcomb === "0.00") {
            toastr.warning('El campo ERROR COMBINACION ESTANDAR es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (difserv === "" || difserv === "0.00") {
            toastr.warning('El campo DIFERENCIA SERVICIALIDAD es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (modrotura === "" || modrotura === "0.00") {
            toastr.warning('El campo MODULO ROTURA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (coeftrans === "" || coeftrans === "0.00") {
            toastr.warning('El campo COEFICIENTE TRANSFERENCIA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (coefdren === "" || coefdren === "0.00") {
            toastr.warning('El campo COEFICIENTE DRENAJE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (modelast === "" || modelast === "0.00") {
            toastr.warning('El campo MODULO ELASTICIDAD es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (servfin === "" || servfin === "0.00") {
            toastr.warning('El campo SERVICIALIDAD FINAL es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        if (desvest === "" || desvest === "0.00") {
            toastr.warning('El campo DESVIACION ESTANDAR es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return false;
        }

        return true;
    }

    function validarCamposCapas() {

        var mrconcreto = $("#txtFC").val();
        var cbr1 = $("#txtCBR_1").val();
        var cbr2 = $("#txtCBR_2").val();
        var n18nom = $("#txtN18Nominal").val();
        var dreq = $("#txtDRequerido").val();
        var capaconcreto = $("#txtConcreto").val();
        var capasubbase = $("#txtSubBase").val();


        if (mrconcreto === "" || mrconcreto === "0.00") {
            toastr.warning('El campo MR REQUERIDO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (cbr1 === "" || cbr1 === "0.00") {
            toastr.warning('El campo CBR SUB BASE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (cbr2 === "" || cbr2 === "0.00") {
            toastr.warning('El campo CBR SUB-RASANTE  es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (n18nom === "" || n18nom === "0.00") {
            toastr.warning('El campo N18 NOMINAL es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (dreq === "" || dreq === "0.00") {
            toastr.warning('El campo D REQUERIDO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (capaconcreto === "" || capaconcreto === "0.00") {
            toastr.warning('El campo CAPA CONCRETO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (capasubbase === "" || capasubbase === "0.00") {
            toastr.warning('El campo CAPA SUB BASE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }


        return true;
    }

</script>
