﻿
@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{

    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;

    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }

}

<input type="hidden" id="hidTipoDiseno" value="@sistema.idTipoDiseno" />

<div class="col-lg-12">

    <div class="row col-12">

        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Confiabilidad (R%)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoconfiab" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ConfiabilidadModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtConfiab" type="text" disabled placeholder="Confiabilidad (R%)" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara" value="0.00" onkeypress="return filterFloat(event,this);">
                <button type="button" id="btnEvaluarConfiabilidad" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseConfiabilidad" aria-expanded="false" aria-controls="collapseConfiabilidad"><span class="fa fa-cog"></span></button>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Error de Comb.Estándar (SO)</label>
            <div class="form-inline">
                <input id="txtErrorComb" data-id="4" type="text" maxlength="4" placeholder="0.00" class="column_filter mr-3 col-sm-10 form-control form-control-sm  input-number mascara" value="0.35" onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Desviación Estándar Normal (ZR)</label>
            <div class="form-inline">
                <input id="txtDesvEstandar" data-id="4" type="text" placeholder="Desviación Estándar Normal (ZR)" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm  input-number mascara" value="0.00">
            </div>
        </div>
        <div class="form-group col-md-12 col d-flex justify-content-lg-start">
            <div class="form-group col-md-6">
                <div class="collapse" id="collapseConfiabilidad">
                    <div class="card card-body">
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6>CONFIABILIDAD:</h6>
                                <hr />
                            </div>
                        </div>
                        <div class="row col-12">
                            <div id="dvManCarr">
                                <img src="~/Content/images/conf_man_carr.JPG" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div id="dvManPav" style="display:none">
                                <button type="button" id="btnInfoVias" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ModalInfoVias"><i class="fa fa-question-circle"></i></button>
                                <img src="~/Content/images/conf_man_pav.JPG" style="max-width: 100%; max-height: 100%;">
                            </div>
                        </div>
                        <div id="dvConfEE" class="form-group col-md-12">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Valor obtenido según EE</label>
                            <input id="txtValorConfEE" disabled type="text" value="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inlineFormInput" style="color:red" class="col-form-label col-form-label-sm">Ingresar valor </label>
                            <input id="txtValorConfIng" type="text" placeholder="0.00" maxlength="5" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Rotura (Mpa)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ModRoturaModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtModRotura" data-id="1" type="text" placeholder="Módulo de Rotura (MR)" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm" onkeypress="return filterFloat(event,this);">
                <button type="button" id="btnEvaluaModRotura" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseEvaluaModRotura" aria-expanded="false" aria-controls="collapseEvaluaModRotura"><span class="fa fa-cog"></span></button>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Transferencia (J)</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CoefTransferenciaModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <input id="txtCoefTransferencia" data-id="4" type="text" maxlength="4" placeholder="0.00" class="column_filter mr-3 col-sm-10 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje (Cd)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CoefDrenajeModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtCoefDrenaje" data-id="1" type="text" value="0.00" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm" onkeypress="return filterFloat(event,this);">
                <button type="button" id="btnEvaluaCoefDrenaje" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseinfoDrenajePrincipalModal" aria-expanded="false" aria-controls="collapseinfoDrenajePrincipalModal"><span class="fa fa-cog"></span></button>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline">
                <div class="form-group col-md-6 col d-flex justify-content-lg-start">
                    <div class="collapse" id="collapseEvaluaModRotura">
                        <div class="card card-header">
                            <h6>MR - Cálculo </h6>
                            <hr />
                        </div>
                        <div class="card card-body">
                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Rotura (Kg/cm2)</label>
                                    @Html.DropDownList("ddlModuloRotura", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ResistComprensionModal"><i class="fa fa-question-circle"></i></button>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Resistencia a la Comprensión (f'c)</label>
                                    <input id="txtResistComp" data-id="4" type="text" disabled placeholder="Resistencia a la Comprensión (f'c)" class="column_filter mr-3 col-sm-10 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <div class="form-inline">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Elasticidad (Ec)</label>
                                        <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ModElasticidadModal"><i class="fa fa-question-circle"></i></button>
                                    </div>
                                    <input id="txtModElasticidad" data-id="4" type="text" value="0.00" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm" onkeypress="return filterFloat(event,this);">
                                </div>
                            </div>

                            <div class="row col-12 d-flex justify-content-lg-end">
                                <div class="form-inline ">
                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Opciones Avanzadas &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <button type="button" id="btnOpa" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseOPA" aria-expanded="false" aria-controls="collapseOPA"><span class="fa fa-plus"></span></button>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-md-12 col d-flex justify-content-lg-start">
                                    <div class="collapse" id="collapseOPA">
                                        <div class="card card-header">
                                            <h6>Formula MR</h6>
                                            <hr />
                                        </div>
                                        <div class="card card-body">
                                            <div class="row col-12">
                                                <div class="form-group col-md-12">
                                                    <div class="form-inline">
                                                        <img src="~/Content/images/concreto/Modulo de Rotura.jpg" style="max-width:90%; max-height:100%;" />
                                                        <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ResistComprensionModal"><i class="fa fa-question-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-12">
                                                <div class="form-group col-md-12">
                                                    <div class="form-inline col-md-12">
                                                        <input id="txtValorModRotura" type="text" maxlength="4" placeholder="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-12">
                                                <div class="form-group col-md-12">
                                                    <label for="inlineFormInput" class="col-form-label col-form-label-sm">Resultado Formula</label>
                                                    <div class="form-inline col-md-12">
                                                        <input id="txtResultadoModRotura" type="text" disabled value="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-12">
                                                <div class="form-group col-md-12">
                                                    <p align="justify">
                                                        Valor recomendado: 2.4 a 2.6
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col d-flex justify-content-lg-end">
                    <div class="collapse" id="collapseinfoDrenajePrincipalModal">
                        <div class="card card-header">
                            <h5>COEFICIENTES </h5>
                            <hr />
                        </div>
                        <div class="card card-body">
                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <h6 style="color:#FF0000">BASE GRANULAR(m2): </h6>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <div class="form-inline">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Calidad de Drenaje &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                        @Html.DropDownList("ddlCalidadDrenaje", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                                        <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajeTiempoModal"><i class="fa fa-info-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <div class="form-inline">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Porcentaje de Exposición a Saturación </label>
                                        <input id="txtPorcDrenajeBaseIng" type="text" maxlength="5" placeholder="0.00" value="20.00" class="mr-3 col-sm-10 form-control form-control-sm mascara">
                                        <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoDrenajePorcentajeModal"><i class="fa fa-info-circle"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <div class="form-inline">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Base Granular</label>
                                        <input id="txtPorcDrenajeBase" type="text" value="0.00" disabled class="mr-3 col-sm-10 form-control form-control-sm mascara">
                                    </div>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <h6 style="color:#FF0000">(ESCRIBE LOS VALORES)</h6>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="form-group col-md-12">
                                    <div class="form-inline">
                                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Coeficiente de Drenaje de la Base Granular (m2)</label>
                                        <input id="txtPorcDrenajeInput" type="text" placeholder="0.00" maxlength="4" class="mr-3 col-sm-10 form-control form-control-sm mascara">
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <p>El valor recomendado es 1.00.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Inicial(Pi)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServInicialModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtServInicial" type="text" maxlength="4" placeholder="0.00" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara"  onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Final(Pt)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServFinalModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtServFinal" type="text" maxlength="4" placeholder="0.00" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara"  onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Diferencia de Servicialidad (∆PSI)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#DifServModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtDifServ" data-id="4" type="text" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm input-number mascara" value="0.00">
            </div>
        </div>

    </div>

</div>

<!-- CONFIABILIDAD-->
<div class="modal fade" id="ConfiabilidadModal" tabindex="-1" role="dialog" aria-labelledby="ConfiabilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE CONFIANZA (R%) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Probabilidad de que el pavimento diseñado se comporte de manera satisfactoria
                                    durante el periodo de diseño.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- SERVICIALIDAD INICIAL-->
<div class="modal fade" id="ServInicialModal" tabindex="-1" role="dialog" aria-labelledby="ServInicialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (Pi)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="2">
                                <p align="justify">
                                    Condición original del pavimento inmediatamente después de su construcción o rehabilitación.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Pavimentos Flexibles 4.2&nbsp;&nbsp;&nbsp;
                                </p>
                                <p>
                                    Pavimentos Rígidos 4.5&nbsp;&nbsp;&nbsp;
                                </p>
                            </td>
                            <td align="right">
                                <img src="~/Content/images/param_esal_3.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- SERVICIALIDAD FINAL-->
<div class="modal fade" id="ServFinalModal" tabindex="-1" role="dialog" aria-labelledby="ServFinalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD FINAL (Pt)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Condición en la cual el pavimento no cumple con las expectativas de comodidad
                                    y seguridad exigidas por el usuario.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- DIFERENCIA DE SERVICIALIDAD-->
<div class="modal fade" id="DifServModal" tabindex="-1" role="dialog" aria-labelledby="DifServModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (∆PSI) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/param_esal_4.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                            <td align="right">
                                <img src="~/Content/images/param_esal_5.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- COEFICIENTE DE TRANSFERENCIA-->
<div class="modal fade" id="CoefTransferenciaModal" tabindex="-1" role="dialog" aria-labelledby="CoefTransferenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TRANSFERENCIA DE CARGA (J) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Parámetro que expresa la capacidad de la estructura como transmitora de cargas
                                    entre juntas y fisuras.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/images/concreto/Transferencia de Carga.jpg" style="width:100%; height:95%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODULO DE ELASTICIDAD-->
<div class="modal fade" id="ModElasticidadModal" tabindex="-1" role="dialog" aria-labelledby="ModElasticidadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-right: 80px; margin-left: 500px;">
        <div class="modal-content" style="width:260px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/concreto/Modulo de Elasticidad.jpg" style="width:100%; height:100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODULO DE ROTURA-->
<div class="modal fade" id="ModRoturaModal" tabindex="-1" role="dialog" aria-labelledby="ModRoturaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Expresa la resistencia a la flexión debido a que los pavimentos de concreto
                                    trabajan principalmente a flexión es que se relacion este parámetro con la resistencia
                                    a la comprensión.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- COEFICIENTE DE DRENAJE-->
<div class="modal fade" id="CoefDrenajeModal" tabindex="-1" role="dialog" aria-labelledby="CoefDrenajeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COEFICIENTE DE DRENAJE (Cd) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Parámetro que representa la probabilidad de que la estructura bajo la losa
                                    de concreto mantenga agua libre o humedad por un cierto tiempo.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- RESISTENCIA A LA COMPRENSION-->
<div class="modal fade" id="ResistComprensionModal" tabindex="-1" role="dialog" aria-labelledby="ResistComprensionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">RESISTENCIA A LA COMPRENSIÓN (f'c) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Esfuerzo máximo que puede soportar un materialbajo una carga de aplastamiento.
                                    Se recomiendan las siguientes correlaciones entre el Módulo de Rotura y la
                                    resistencia a la comprensión.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Content/images/concreto/Resistencia a la Comprension.jpg" style="width:100%; height:95%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoDrenajeTiempoModal" tabindex="-1" role="dialog" aria-labelledby="infoDrenajeTiempoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-right: 80px; margin-left: 450px;">
        <div class="modal-content" style="width:450px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COEFICIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dgvDrenajeTiempo" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-sm-center" id="CalidadDrenaje">Calidad de Drenaje</th>
                                <th class="text-sm-center" id="EliminaTiempoElimAgua">Tiempo de Eliminación del Agua en</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoDrenajePorcentajeModal" tabindex="-1" role="dialog" aria-labelledby="infoDrenajePorcentajeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-right: 80px; margin-left: 250px;">
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">COEFICIENTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="dgvDrenajePorcentaje" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-sm-center">*</th>
                                <th class="text-sm-center" colspan="8">
                                    Porcentaje de tiempo anual en que la
                                    estructura del pavimento está expuesta a niveles cercanos a saturación
                                </th>
                            </tr>
                            <tr>
                                <th class="text-sm-center" id="CalidadDrenaje">Calidad_Drenaje</th>
                                <th class="text-sm-center" id="Desde_0">Desde 0%</th>
                                <th class="text-sm-center" id="Hasta_1">Hasta 1%</th>
                                <th class="text-sm-center" id="Desde_1">Desde 1%</th>
                                <th class="text-sm-center" id="Hasta_5">Hasta 5%</th>
                                <th class="text-sm-center" id="Desde_5">Desde 5%</th>
                                <th class="text-sm-center" id="Hasta_25">Hasta 25%</th>
                                <th class="text-sm-center" id="Desde_25">Desde 25%</th>
                                <th class="text-sm-center" id="Hasta_Mas">Hasta Mas</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- CONFIABILIDAD INFO VIAS -->
<div class="modal fade" id="ModalInfoVias" tabindex="-1" role="dialog" aria-labelledby="ModalInfoViasLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TIPOS VIAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/tip_via_img.JPG" style="max-width: 100%; max-height: 100%;">
                            </td>
                            <td>
                                <img src="~/Content/images/tip_via_det.JPG" style="max-width: 100%; max-height: 100%;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara
        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara


        $("#txtConfiab").keyup(function (e) {

            calcularDesviacionEstandar();

        });

        $("#txtErrorComb").keyup(function (e) {
            setState();
        });

        $('#txtErrorComb').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 0.50) {
                toastr.warning("El valor permitido para el campo ERROR COMBINACION ESTANDAR es entre 0.30 y 0.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtErrorComb').val('0.00');
                $('#txtErrorComb').focus();
                return;
            }

            if (val < 0.30) {
                toastr.warning("El valor permitido para el campo ERROR COMBINACION ESTANDAR es entre 0.30 y 0.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtErrorComb').val('0.00');
                $('#txtErrorComb').focus();
                return;
            }
        });

        $("#txtServInicial").keyup(function (e) {
            DiferenciaServicialidad();
            setState();
        });

        $('#txtServInicial').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 4.50) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD INICIAL es entre 3.50 y 4.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServInicial').val('0.00');
                $('#txtServInicial').focus();
                $("#txtDifServ").val('0.00');
                return;
            }

            if (val < 3.50) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD INICIAL es entre 3.50 y 4.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServInicial').val('0.00');
                $('#txtServInicial').focus();
                $("#txtDifServ").val('0.00');
                return;
            }
        });

        $("#txtServFinal").keyup(function (e) {
            DiferenciaServicialidad();
            setState();
        });

        $('#txtServFinal').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 3.00) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD FINAL es entre 1.50 y 3.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServFinal').val('0.00');
                $('#txtServFinal').focus();
                return;
            }

            if (val < 1.50) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD FINAL es entre 1.50 y 3.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServFinal').val('0.00');
                $('#txtServFinal').focus();
                return;
            }
        });

        $("#txtValorModRotura").keyup(function (e) {

            var valor = document.getElementById("txtValorModRotura").value;
            var ResisCompre = document.getElementById("txtResistComp").value;

            if (ResisCompre.length == 0) {
                toastr.error("Ingrese Resistencia a la Comprensión!", 'ERROR', { timeOut: 2000 });
                return;
            }

            if (valor.length == 0) {
                toastr.error("Ingrese un Valor!", 'ERROR', { timeOut: 2000 });
                return;
            }

            $.ajax({
                method: 'POST',
                url: '/ParametrosConcreto/ModuloRotura',
                data: { 'valor': valor, 'ResisCompre': ResisCompre },
                success: function (respuesta) {
                    if (respuesta.length > 0) {
                        document.getElementById("txtResultadoModRotura").value = respuesta;
                    }
                    else {
                        toastr.error("Ingrese los datos!", 'ERROR', { timeOut: 2000 });
                    }
                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });
        });

        $("#txtPorcDrenajeInput").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#txtPorcDrenajeBaseIng").keyup(function (e) {
            CalculoFinalCoeficientes();
        });

        $("#txtPorcDrenajeBaseIng").focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 50.00) {
                toastr.warning("El valor permitido para el campo PORCENTAJE EXPOSICION A SATURACION es entre 0.00 y 50.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtPorcDrenajeBaseIng').val('0.00');
                $('#txtPorcDrenajeBase').val('0.00');
                $('#txtBaseGranularm2').val('0.00');
                $('#txtPorcDrenajeBaseIng').focus();
                return;
            }

            if (document.getElementById("txtPorcDrenajeBaseIng").value.length > 0) {
                ObtenerCoefDrenajeBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });


        $("#ddlCalidadDrenaje").change(function () {

            if (document.getElementById("txtPorcDrenajeBaseIng").value.length > 0) {
                ObtenerCoefDrenajeBase();
            } else {
                toastr.error("Ingrese Porcentaje de Saturación!", 'ERROR', { timeOut: 2000 });
                return;
            }

        });

        $("#ddlModuloRotura").change(function () {

            calcularMR();
        });

        $("#txtCoefTransferencia").keyup(function (e) {
            setState();
        });

        $('#txtCoefTransferencia').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 4.40) {
                toastr.warning("El valor permitido para el campo COEFICIENTE DE TRANSFERENCIA es entre 2.40 y 4.40", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCoefTransferencia').val('0.00');
                $('#txtCoefTransferencia').focus();
                return;
            }

            if (val < 2.40) {
                toastr.warning("El valor permitido para el campo COEFICIENTE DE TRANSFERENCIA es entre 2.40 y 4.40", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtCoefTransferencia').val('0.00');
                $('#txtCoefTransferencia').focus();
                return;
            }
        });


        $("#txtValorConfIng").keyup(function (e) {
            $("#txtConfiab").val($("#txtValorConfIng").val());
            calcularDesviacionEstandar();
        });

        $('#txtValorConfIng').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 99.00) {
                toastr.warning("El valor permitido para el campo CONFIABILIDAD es entre 50.00 y 99.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtValorConfIng').val('0.00');
                $('#txtConfiab').val('0.00');
                $('#txtDesvEstandar').val('0.00');
                $('#txtValorConfIng').focus();
                return;
            }

            if (val < 50.00) {
                toastr.warning("El valor permitido para el campo CONFIABILIDAD es entre 50.00 y 99.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtValorConfIng').val('0.00');
                $('#txtConfiab').val('0.00');
                $('#txtDesvEstandar').val('0.00');
                $('#txtValorConfIng').focus();
                return;
            }
        });


        $(document).on("focus", ".mascara", function () {
            $(this).mask("#,##0.00", { reverse: true });
        });

        $(document).on("focus", ".mascara2", function () {
            $(this).mask("#,##0.000", { reverse: true });
        });

        CargarTiempoDrenaje();

        CargarPorcentajeDrenaje();

        ObtenerCoefDrenajeBase();

        calcularMR();

        setState();

    });


    function DiferenciaServicialidad() {

        strServInicial = document.getElementById("txtServInicial").value;
        strServFinal = document.getElementById("txtServFinal").value;

        if (strServInicial == '') {
            toastr.warning("Ingrese Servicialidad Inicial!", 'ALERTA', { timeOut: 2000 });
            return;
        }

        if (strServFinal == '') {
            toastr.warning("Ingrese Servicialidad Final!", 'ALERTA', { timeOut: 2000 });
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/CalcularDifServiciabilidad',
            data: { 'ServInicial': strServInicial, 'ServFinal': strServFinal },
            success: function (respuesta) {
                document.getElementById("txtDifServ").value = parseFloat(respuesta).toFixed(2);
                setState();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });
    }

    function CargarTiempoDrenaje() {

        var objData = {};
        objData["Id"] = 0;

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/CargarTiempoDrenaje',
            data: objData,
            success: function (respuesta) {

                var arrdata = respuesta.data;
                var tbody = '';

                for (var i = 0; i < arrdata.length; i++) {
                    var item = arrdata[i];
                    tbody += '<tr><td class="text-sm-center" id="CalidadDrenaje">' + item.CalidadDrenaje + '</td><td class="text-sm-center" id="EliminaTiempoElimAgua">' + item.EliminaTiempoElimAgua + '</td></tr>'
                }

                $("#dgvDrenajeTiempo tbody").html(tbody);

            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });


    }

    function CargarPorcentajeDrenaje() {

        var objData = {};
        objData["Id"] = 0;

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/CargarPorcentajeDrenaje',
            data: objData,
            success: function (respuesta) {

                var arrdata = respuesta.data;
                var tbody = '';

                for (var i = 0; i < arrdata.length; i++) {
                    var item = arrdata[i];
                    tbody += '<tr><td class="text-sm-center" id="CalidadDrenaje">' + item.CalidadDrenaje + '</td>' +
                        '<td class="text-sm-center" id = "Desde_0" >' + item.Desde_0 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_1">' + item.Hasta_1 + '</td>' +
                        '<td class="text-sm-center" id="Desde_1">' + item.Desde_1 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_5">' + item.Hasta_5 + '</td>' +
                        '<td class="text-sm-center" id="Desde_5">' + item.Desde_5 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_25">' + item.Hasta_25 + '</td>' +
                        '<td class="text-sm-center" id="Desde_25">' + item.Desde_25 + '</td>' +
                        '<td class="text-sm-center" id="Hasta_Mas">' + item.Hasta_Mas + '</td></tr>';

                    $("#dgvDrenajePorcentaje tbody").html(tbody);
                }

            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function CalculoFinalCoeficientes() {

        if (document.getElementById("txtPorcDrenajeInput").value.length > 0) {
            document.getElementById("txtCoefDrenaje").value = document.getElementById("txtPorcDrenajeInput").value;
        } else {
            document.getElementById("txtCoefDrenaje").value = document.getElementById("txtPorcDrenajeBase").value;
        }

        setState();
    }

    function ObtenerCoefDrenajeBase() {


        var IdCalidadDre, ValorPorcentaje, IDProyecto

        IdCalidadDre = document.getElementById("ddlCalidadDrenaje").value;
        ValorPorcentaje = document.getElementById("txtPorcDrenajeBaseIng").value;
        IDProyecto = document.getElementById("hidTipoDiseno").value;

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/ObtenerCoefDrenaje',
            data: { 'IdCalidadDre': IdCalidadDre, 'ValorPorcentaje': ValorPorcentaje, 'IDProyecto': IDProyecto },
            success: function (respuesta) {
                document.getElementById("txtPorcDrenajeBase").value = respuesta;

                setState();

                CalculoFinalCoeficientes();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });

    }

    function obtenerModuloElasticidad() {

        var ResisCompre = document.getElementById("txtResistComp").value;

        if (ResisCompre.length == 0) {
            document.getElementById("txtModElasticidad").value = "";
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/ModuloElasticidad',
            data: { 'ResisCompre': ResisCompre },
            success: function (respuesta) {
                if (respuesta.length > 0) {
                    document.getElementById("txtModElasticidad").value = respuesta;
                    setState();
                }
                else {
                    toastr.error("Ingrese los datos!", 'ERROR', { timeOut: 2000 });
                }
            },
            error: function (xhr, status) {
                toastr.error(status, 'ERROR', { timeOut: 2000 });
            }

        });

    }

    function calcularMR() {
        var mr = $("#ddlModuloRotura").val();

        switch (mr) {
            case "40.00":
                $("#txtResistComp").val("280.00");
                obtenerModuloMR();

                document.getElementById("txtFC").value = document.getElementById("ddlModuloRotura").value;
                obtenerModuloElasticidad();

                break;
            case "42.00":
                $("#txtResistComp").val("300.00");
                obtenerModuloMR();

                document.getElementById("txtFC").value = document.getElementById("ddlModuloRotura").value;
                obtenerModuloElasticidad();

                break;
            case "45.00":
                $("#txtResistComp").val("350.00");
                obtenerModuloMR();

                document.getElementById("txtFC").value = document.getElementById("ddlModuloRotura").value;
                obtenerModuloElasticidad();

                break;
            case "48.00":
                $("#txtResistComp").val("380.00");
                obtenerModuloMR();

                document.getElementById("txtFC").value = document.getElementById("ddlModuloRotura").value;
                obtenerModuloElasticidad();

                break;
            default:
                $("#txtResistComp").val("0.00");
                document.getElementById("txtModRotura").value = "0.00";
                document.getElementById("txtFC").value = "0.00";

                setState();
                break;
        }


    }

    function obtenerModuloMR() {

        var valor = document.getElementById("ddlModuloRotura").value;
        var dvalor = parseFloat(valor) / 10;
        document.getElementById("txtModRotura").value = dvalor.toFixed(2);
        setState();
    }

    //
    function calcularConfiabilidadEE() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {

            var str_valor_ee = $("#txtCantidadESAL").val();
            var d_valor_ee = Number(str_valor_ee.replace(/,/g, '')).toFixed(2);

            var val_conf_ee = 0.00;

            if (d_valor_ee >= 150001.00 && d_valor_ee <= 300000.00) {
                val_conf_ee = 70.00;
            }
            else if (d_valor_ee >= 300001.00 && d_valor_ee <= 500000.00) {
                val_conf_ee = 75.00;
            }
            else if (d_valor_ee >= 500001.00 && d_valor_ee <= 1000000.00) {
                val_conf_ee = 80.00;
            }
            else if (d_valor_ee >= 1000001.00 && d_valor_ee <= 5000000.00) {
                val_conf_ee = 85.00;
            }
            else if (d_valor_ee >= 5000001.00) {
                val_conf_ee = 90.00;
            } else {
                val_conf_ee = 70.00;
            }

            $("#txtValorConfEE").val(val_conf_ee.toFixed(2));
            $("#txtValorConfIng").val(val_conf_ee.toFixed(2));
            $("#txtConfiab").val(val_conf_ee.toFixed(2));

            calcularDesviacionEstandar();

        } else {
            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
        }

    }

    function calcularConfiabilidadEELoadEdit() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {

            var str_valor_ee = $("#txtCantidadESAL").val();
            var d_valor_ee = Number(str_valor_ee.replace(/,/g, '')).toFixed(2);

            var val_conf_ee = 0.00;

            if (d_valor_ee >= 150001.00 && d_valor_ee <= 300000.00) {
                val_conf_ee = 70.00;
            }
            else if (d_valor_ee >= 300001.00 && d_valor_ee <= 500000.00) {
                val_conf_ee = 75.00;
            }
            else if (d_valor_ee >= 500001.00 && d_valor_ee <= 1000000.00) {
                val_conf_ee = 80.00;
            }
            else if (d_valor_ee >= 1000001.00 && d_valor_ee <= 5000000.00) {
                val_conf_ee = 85.00;
            }
            else if (d_valor_ee >= 5000001.00) {
                val_conf_ee = 90.00;
            } else {
                val_conf_ee = 70.00;
            }

            $("#txtValorConfEE").val(val_conf_ee.toFixed(2));

        }
    }

    function reglamentoCambio() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {
            document.getElementById("imgesal").src = "/Content/images/param_esal_1.jpg";
            $("#dvManCarr").show();
            $("#dvManPav").hide();
            $("#dvConfEE").show();

            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
            $("#txtDesvEstandar").val('0.00');

        } else {
            document.getElementById("imgesal").src = "/Content/images/param_esal_6.jpg";
            $("#dvManPav").show();
            $("#dvManCarr").hide();
            $("#dvConfEE").hide();

            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
            $("#txtDesvEstandar").val('0.00');
        }

        document.getElementById("ddlReglamento").value = $("#ddlReglamentoPD").val();

    }

    function calcularDesviacionEstandar() {

        strConf = document.getElementById("txtConfiab").value;

        if (strConf == '') {
            toastr.error("Ingrese Confiabilidad!", 'ERROR', { timeOut: 2000 });
            return;
        }


        if (strConf == '0' || strConf == '0.00') {
            toastr.error("Ingrese Confiabilidad!", 'ERROR', { timeOut: 2000 });
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosConcreto/CalcularDesviacionEstandar',
            data: { 'ValorConfiabilidad': strConf },
            success: function (respuesta) {

                document.getElementById("txtDesvEstandar").value = respuesta;

                setState();
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }

        });

    }
    //

    function filterFloat(evt, input) {

        // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
        var key = window.Event ? evt.which : evt.keyCode;
        var chark = String.fromCharCode(key);
        var tempValue = input.value + chark;
        if (key >= 48 && key <= 57) {
            if (filter(tempValue) === false) {
                return false;
            } else {
                return true;
            }
        } else {
            if (key == 8 || key == 13 || key == 0) {
                return true;
            } else if (key == 46) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
    }

    function filter(__val__) {

        var preg = /^([0-9]+\.?[0-9]{0,3})$/;
        if (preg.test(__val__) === true) {
            return true;
        } else {
            return false;
        }

    }

    function roundNumber(num) {
        return Math.round(num * 100) / 100;
    }

    function redondeo(numero, decimales) {
        var flotante = parseFloat(numero);
        var resultado = Math.round(flotante * Math.pow(10, decimales)) / Math.pow(10, decimales);
        return resultado;
    }

</script>
