﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;
}

<div class="col-lg-12">

    <div class="row col-12">
        <div class="col-sm-2" style="display: flex;align-items: center;justify-content: center;">
            <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#BaseSubModal"><i class="fa fa-question-circle"></i></button>
            <img src="~/Content/images/asfalto_1.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="col-sm-2" style="display: flex;align-items: center;justify-content: center;">
            <button type="button" id="btninfoCBR" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#infoCBRModal">
                <img src="~/Content/images/asfalto_2.jpg" style="max-width: 100%; max-height: 80%;">
            </button>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">ME de Capa Asfáltica</label>
                <div class="form-inline">
                    <input id="txtME" data-id="4" type="text" value="450,000" placeholder="ME" disabled class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#MEModal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">CBR de Base</label>
                <div class="form-inline">
                    <input id="txtCBR_1" data-id="1" type="text" value="80.00" disabled placeholder="California Bearing Ratio (CBR" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CBR_1_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">CBR Sub-Base</label>
                <div class="form-inline">
                    <input id="txtCBR_2" data-id="1" type="text" value="40.00" disabled placeholder="California Bearing Ratio (CBR)" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CBR_2_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">CBR Sub-Rasante </label>
                <div class="form-inline">
                    <input id="txtCBR_3" data-id="1" type="text" maxlength="5" value="0.00" disabled  placeholder="California Bearing Ratio (CBR)" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#CBR_3_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4" style="display: flex;align-items: flex-end;">
            <div class="form-group col-md-12">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Módulo de Rotura PSI</label>
                <div class="form-inline">
                    <input id="txtModRoturaPSI" data-id="1" type="text" value="0.00" disabled placeholder="Módulo de Rotura PSI" class="column_filter mr-1 col-sm-8 form-control form-control-sm input-number mascara">
                    <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#MR_Modal"><i class="fa fa-question-circle"></i></button>
                </div>
            </div>
        </div>
    </div>

    <h5>SN REQUERIDO</h5>
    <hr />
    <div class="row col-12">
        <div class="col d-flex justify-content-center">
            <img src="~/Content/images/img_b.jpg" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>

    <div class="row col-12">
        <div class="col d-flex justify-content-center">
            <div class="form-group col-md-6">
                <div class="form-inline">
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">N18 Nominal</label>
                        <input id="txtN18Nominal" data-id="1" type="text" value="0.00" disabled placeholder="N18 Nominal" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-2" style="display: flex;align-items: end;justify-content: center;">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">N18 Calculado</label>
                        <input id="txtN18Calculado" data-id="1" value="0.00" type="text" disabled placeholder="N18 Calculado" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <input id="txtGT" data-id="2" type="text" disabled value="Gt" placeholder="" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-2" style="display: flex;align-items: center;justify-content: center; margin-bottom:2em;">
                        <h4 style="font-size:xx-large"> = </h4>
                    </div>
                    <div class="form-group col-md-5">
                        <input id="txtN18Calculado2" data-id="1" value="0.00" type="text" disabled placeholder="" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-inline">
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">S/N Requerido</label>
                        <input id="txtSNRequerido" data-id="1" type="text" value="0.00" disabled placeholder="S/N Requerido" class="column_filter mr-1 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-6" style="margin-top:1.7em">
                        <button type="button" id="btnIgualarSNRequerido" class="btn btn-primary btn-sm"><span class="fa fa-exchange"></span> Igualar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ME -->
<div class="modal fade" id="MEModal" tabindex="-1" role="dialog" aria-labelledby="MEModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MÓDULO DE ELÁSTICO (ME) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="center">
                                    Es la medida de la tenacidad y rigidez del material o su capacidad elástica.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 1 -->
<div class="modal fade" id="CBR_1_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_1_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (BASE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Para carreteras con un tráfico en EE menores o igual a 10,000,000; el CBR
                                    de la base debe ser mínimo 80%.
                                </p>
                                <p align="justify">
                                    Para carreteras con un tráfico en EE mayores a 10,000,000; el CBR
                                    de la base debe ser mínimo 80%.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 2 -->
<div class="modal fade" id="CBR_2_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_2_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:550px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (SUB BASE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    El CBR debe ser mayor o igual a 40%.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CBR 3 -->
<div class="modal fade" id="CBR_3_Modal" tabindex="-1" role="dialog" aria-labelledby="CBR_3_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:660px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR (SUB RASANTE) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/pavimento_2.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- BASE SUB-BASE SUB-RASANTE -->
<div class="modal fade" id="BaseSubModal" tabindex="-1" role="dialog" aria-labelledby="BaseSubModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INFORMACIÓN </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/asfalto/ley_cap_asf.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- info CBR MODAL -->
<div class="modal fade" id="infoCBRModal" tabindex="-1" role="dialog" aria-labelledby="infoCBRModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CBR de Sub-Rasante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="2">
                                <p align="justify">
                                    CBR (California Bearing Ratio): Evalúa la calidad del suelo por medio de la
                                    resistencia al esfuerzo cortante. Se efectúa bajo condiciones controladas de humedad
                                    y densidad.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">CUADRO CBR</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">GRÁFICO CBR</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p> &nbsp; &nbsp; &nbsp;</p>
                                        <img src="~/Content/images/asfalto_3.jpg" style="max-width: 100%; max-height: 100%;" />
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="text-align:center;">
                                        <p> &nbsp; &nbsp; &nbsp;</p>
                                        <img src="~/Content/images/asfalto_4.jpg" style="max-width: 100%; max-height: 100%;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODULO DE RESILENCIA (MR) -->
<div class="modal fade" id="MR_Modal" tabindex="-1" role="dialog" aria-labelledby="MR_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">MÓDULO DE RESILENCIA (MR) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Es el índice que describe la relación no lineal de esfuerzos - deformaciones de los
                                    suelos bajo cargas repetidas.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>


<script type="text/javascript">

    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara

        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara

        $("#txtME").keyup(function (e) {
            setState();
        });

        $("#txtCBR_1").keyup(function (e) {
            setState();
        });

        $("#txtCBR_2").keyup(function (e) {
            setState();
        });

        $("#txtCBR_3").keyup(function (e) {
            setState();
        });

        $("#btnIgualarSNRequerido").click(function () {    
            obtenerValoresCapasPavimento();
        });

        setState();
    });

    function obtenerValoresCapasPavimento() {

        //Validamos campos vacíos

        var CantidadESAL = document.getElementById("txtCantidadESAL").value;
        if (CantidadESAL == '' || CantidadESAL == '0.00') {
            toastr.warning("Ingrese Cantidad de EE", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return;
        }

        var ModResilenciaSub = document.getElementById("txtModResilenciaSub").value;
        if (ModResilenciaSub == '' || ModResilenciaSub == '0.00') {
            toastr.warning("Ingrese Módulo de Resilencia!", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseZero').click();
            return;
        }

        var Confiabilidad = document.getElementById("txtConfiab").value;
        if (Confiabilidad == '' || Confiabilidad == '0.00') {
            toastr.warning("Ingrese Confiabilidad!", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }

        var ErrorComb = document.getElementById("txtErrorComb").value;
        if (ErrorComb == '' || ErrorComb == '0.00') {
            toastr.warning("Ingrese Error de Comb.Estándar", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }

        var ServInicial = document.getElementById("txtServInicial").value;
        if (ServInicial == '' || ServInicial == '0.00') {
            toastr.warning("Ingrese Servicialidad Inicial", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }

        var ServFinal = document.getElementById("txtServFinal").value;
        if (ServFinal == '' || ServFinal == '0.00') {
            toastr.warning("Ingrese Servicialidad Final", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }

        var DifServiciabilidad = document.getElementById("txtDifServ").value;
        if (DifServiciabilidad == '' || DifServiciabilidad == '0' ||DifServiciabilidad == '0.00') {
            toastr.warning("Diferencia Servicialidad no debe ser 0", 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseOne').click();
            return;
        }


        var CantidadESAL = document.getElementById("txtCantidadESAL").value;
        var DesviEstandar = document.getElementById("txtDesvEstandar").value;
        var DifServiciabilidad = document.getElementById("txtDifServ").value;
        var ErrorCombiEstandar = document.getElementById("txtErrorComb").value;
        var valorMR = document.getElementById("txtModRoturaPSI").value;

        $('#btnIgualarDRequerido').attr("disabled", true);
        $('#btnIgualarDRequerido').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generando...`);

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/calcularN18Nom',
            data: { 'CantESAL': CantidadESAL },
            success: function (respuesta) {
                document.getElementById("txtN18Nominal").value = roundNumber(respuesta);
                calcularN18Calc1(ErrorCombiEstandar, DesviEstandar, valorMR, DifServiciabilidad);
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }

        });
    }

    function calcularN18Calc2(DifServiciabilidad) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/calcularN18Calc2',
            data: { 'DifServiciabilidad': DifServiciabilidad },
            success: function (respuesta) {
                document.getElementById("txtN18Calculado2").value = roundNumber(respuesta);

                igualarSNRequerido();
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }
        });

    }

    function calcularN18Calc1(ErrorCombiEstandar, DesviEstandar, valorMR, DifServiciabilidad) {

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/calcularN18Calc1',
            data: { 'ErrorCombiEstandar': ErrorCombiEstandar, 'DesviEstandar': DesviEstandar, 'valorMR': valorMR, 'DifServiciabilidad': DifServiciabilidad },
            success: function (respuesta) {
                document.getElementById("txtN18Calculado").value = roundNumber(respuesta);

                calcularN18Calc2(DifServiciabilidad);
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }
        });

    }

    function igualarSNRequerido() {


        var ErrorCombiEstandar = document.getElementById("txtErrorComb").value;
        var DesviEstandar = document.getElementById("txtDesvEstandar").value;

        var valorMR = document.getElementById("txtModRoturaPSI").value;
        var N18Calc = document.getElementById("txtN18Calculado").value;
        var N18Calc2 = document.getElementById("txtN18Calculado2").value;
        var N18Nominal = document.getElementById("txtN18Nominal").value;


        if (ErrorCombiEstandar == '' || ErrorCombiEstandar == '0' || ErrorCombiEstandar == '0.00') {
            toastr.warning("Ingrese ErrorCombiEstandar!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }
        if (DesviEstandar == '' || DesviEstandar == '0'||  DesviEstandar == '0.00') {
            toastr.warning("Ingrese DesviEstandar!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }
        if (valorMR == '' || valorMR == '0' || valorMR == '0.00') {
            toastr.warning("Ingrese valorMR!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }
        if (N18Calc == '' || N18Calc == '0' || N18Calc == '0.00') {
            toastr.warning("Ingrese N18Calc!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }
        if (N18Calc2 == '' || N18Calc2 == '0' || N18Calc2 == '0.00') {
            toastr.warning("Ingrese N18Calc2!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }
        if (N18Nominal == '' || N18Nominal == '0' || N18Nominal == '0.00') {
            toastr.warning("Ingrese N18Nominal!", 'ADVERTENCIA', { timeOut: 2000 });
            $(this).html(`<span class="fa fa-exchange"></span> Igualar`);
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/calcularSNReq',
            data: { 'ErrorCombiEstandar': ErrorCombiEstandar, 'DesviEstandar': DesviEstandar, 'valorMR': valorMR, 'N18Calc': N18Calc, 'N18Calc2': N18Calc2, 'N18Nominal': N18Nominal },
            success: function (respuesta) {

                document.getElementById("txtSNRequerido").value = roundNumber(respuesta);
                document.getElementById("txSNRequeridoEC").value = roundNumber(respuesta);

                $('#btnIgualarSNRequerido').html(`<span class="fa fa-exchange"></span> Igualar`);
                $('#btnIgualarDRequerido').attr("disabled", false);

                document.getElementById("txtN18Calculado").value = document.getElementById("txtN18Nominal").value;//N18Calculado se iguala a N18Nominal

                setState();
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }
        });
    }

    function validarCamposCapas() {

        var cbr3 = $("#txtCBR_3").val();
        var rotura = $("#txtModRoturaPSI").val();
        var n18nom = $("#txtN18Nominal").val();
        var n18cal1 = $("#txtN18Nominal").val();
        var snreq = $("#txtSNRequerido").val();
        var n18calc2 = $("#txtN18Calculado2").val();

        if (cbr3 === "" || cbr3 === "0.00") {
            toastr.warning('El campo CAMPO CBR SUB-RASANTE es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (rotura === "" || rotura === "0.00") {
            toastr.warning('El campo CAMPO MODULO ROTURA es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (n18nom === "" || n18nom === "0.00") {
            toastr.warning('El campo CAMPO N18 NOMINAL es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (n18cal1 === "" || n18cal1 === "0.00") {
            toastr.warning('El campo CAMPO N18 CALCULADO 1 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (n18calc2 === "" || n18calc2 === "0.00") {
            toastr.warning('El campo CAMPO N18 CALCULADO 2 es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        if (snreq === "" || snreq === "0.00") {
            toastr.warning('El campo CAMPO SN REQUERIDO es requerido', 'ADVERTENCIA', { timeOut: 2000 });
            $('#btnCollapseTwo').click();
            return false;
        }

        return true;
    }

</script>
