﻿
@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{

    ViewBag.Title = "Diseno";
    string DisenoId = Session["DisenoId"]?.ToString();
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Proyecto GetProyecto = Session["sistema.proyecto"] as Proyecto;

}


<div class="col-lg-12">

    <div class="row col-12">



        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Confiabilidad (R%)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoconfiab" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ConfiabilidadModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtConfiab" type="text" disabled placeholder="Confiabilidad (R%)" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara" value="0.00" onkeypress="return filterFloat(event,this);">
                <button type="button" id="btnEvaluarConfiabilidad" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseConfiabilidad" aria-expanded="false" aria-controls="collapseConfiabilidad"><span class="fa fa-cog"></span></button>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Error de Comb.Estándar (SO)</label>
            <div class="form-inline">
                <input id="txtErrorComb" data-id="4" type="text" value="0.45" maxlength="4" placeholder="0.00" class="column_filter mr-3 col-sm-10 form-control form-control-sm  input-number mascara" value="0.00" onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Desviación Estándar Normal (ZR)</label>
            <div class="form-inline">
                <input id="txtDesvEstandar" data-id="4" type="text" placeholder="Desviación Estándar Normal (ZR)" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm  input-number mascara" value="0.00">
            </div>
        </div>
        <div class="form-group col-md-12 col d-flex justify-content-lg-start">
            <div class="form-group col-md-6">
                <div class="collapse" id="collapseConfiabilidad">
                    <div class="card card-body">
                        <div class="row col-12">
                            <div class="form-group col-md-12">
                                <h6>CONFIABILIDAD:</h6>
                                <hr />
                            </div>
                        </div>
                        <div class="row col-12">
                            <div id="dvManCarr">
                                <img src="~/Content/images/conf_man_carr.JPG" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div id="dvManPav" style="display:none">
                                <button type="button" id="btnInfoVias" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ModalInfoVias"><i class="fa fa-question-circle"></i></button>
                                <img src="~/Content/images/conf_man_pav.JPG" style="max-width: 100%; max-height: 100%;">
                            </div>
                        </div>
                        <div id="dvConfEE" class="form-group col-md-12">
                            <label for="inlineFormInput" class="col-form-label col-form-label-sm">Valor obtenido según EE</label>
                            <input id="txtValorConfEE" disabled type="text" value="0.00" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inlineFormInput" style="color:red" class="col-form-label col-form-label-sm">Ingresar valor </label>
                            <input id="txtValorConfIng" type="text" placeholder="0.00" maxlength="5" class="mr-3 col-sm-12 form-control form-control-sm input-number mascara">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Inicial&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServInicialModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtServInicial" type="text" maxlength="4" placeholder="0.00" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Servicialidad Final&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#ServFinalModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtServFinal" type="text" maxlength="4" placeholder="0.00" class="mr-3 col-sm-10 form-control form-control-sm input-number mascara" onkeypress="return filterFloat(event,this);">
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-inline">
                <label for="inlineFormInput" class="col-form-label col-form-label-sm">Diferencia de Servicialidad (∆PSI)&nbsp;&nbsp;&nbsp;</label>
                <button type="button" id="btninfoesal" class="btn btn-toolbar btn-sm" data-toggle="modal" data-target="#DifServModal"><i class="fa fa-question-circle"></i></button>
            </div>
            <div class="form-inline">
                <input id="txtDifServ" data-id="4" type="text" placeholder="Diferencia de Servicialidad (∆PSI)" disabled class="column_filter mr-3 col-sm-10 form-control form-control-sm input-number mascara" value="0.00">
            </div>
        </div>

    </div>
</div>

<!-- SERVICIALIDAD INICIAL-->
<div class="modal fade" id="ServInicialModal" tabindex="-1" role="dialog" aria-labelledby="ServInicialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (Pi)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="2">
                                <p align="justify">
                                    Condición original del pavimento inmediatamente después de su construcción o rehabilitación.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Pavimentos Flexibles 4.2&nbsp;&nbsp;&nbsp;
                                </p>
                                <p>
                                    Pavimentos Rígidos 4.5&nbsp;&nbsp;&nbsp;
                                </p>
                            </td>
                            <td align="right">
                                <img src="~/Content/images/param_esal_3.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- SERVICIALIDAD FINAL-->
<div class="modal fade" id="ServFinalModal" tabindex="-1" role="dialog" aria-labelledby="ServFinalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD FINAL (Pt)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Condición en la cual el pavimento no cumple con las expectativas de comodidad
                                    y seguridad exigidas por el usuario.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- DIFERENCIA DE SERVICIALIDAD-->
<div class="modal fade" id="DifServModal" tabindex="-1" role="dialog" aria-labelledby="DifServModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE SERVICIALIDAD INICIAL (∆PSI) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/param_esal_4.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                            <td align="right">
                                <img src="~/Content/images/param_esal_5.jpg" style="max-width: 100%; max-height: 100%;" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIABILIDAD-->
<div class="modal fade" id="ConfiabilidadModal" tabindex="-1" role="dialog" aria-labelledby="ConfiabilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICE DE CONFIANZA (R%) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td colspan="4">
                                <p align="justify">
                                    Probabilidad de que el pavimento diseñado se comporte de manera satisfactoria
                                    durante el periodo de diseño.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIABILIDAD INFO VIAS -->
<div class="modal fade" id="ModalInfoVias" tabindex="-1" role="dialog" aria-labelledby="ModalInfoViasLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TIPOS VIAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-responsive" border="0" cellspacing="0" cellpadding="4" style="width:auto;">
                        <tr>
                            <td>
                                <img src="~/Content/images/tip_via_img.JPG" style="max-width: 100%; max-height: 100%;">
                            </td>
                            <td>
                                <img src="~/Content/images/tip_via_det.JPG" style="max-width: 100%; max-height: 100%;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function ($) {

        $('.mascara').mask("#,##0.00", { reverse: true }); //Aplica la mascara
        $('.SoloNumeros').mask("99", { reverse: true }); //Aplica la mascara

        $("#txtConfiab").keyup(function (e) {

            calcularDesviacionEstandar();

        });

        $("#txtErrorComb").keyup(function (e) {
            setState();
        });

        $('#txtErrorComb').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 0.50) {
                toastr.warning("El valor permitido para el campo ERROR COMBINACION ESTANDAR es entre 0.30 y 0.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtErrorComb').val('0.00');
                $('#txtErrorComb').focus();
                return;
            }

            if (val < 0.30) {
                toastr.warning("El valor permitido para el campo ERROR COMBINACION ESTANDAR es entre 0.30 y 0.50", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtErrorComb').val('0.00');
                $('#txtErrorComb').focus();
                return;
            }
        });

        $("#txtServInicial").keyup(function (e) {
            DiferenciaServicialidad();
            setState();
        });

        $('#txtServInicial').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 4.20) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD INICIAL es entre 3.50 y 4.20", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServInicial').val('0.00');
                $('#txtServInicial').focus();
                $("#txtDifServ").val('0.00');
                return;
            }

            if (val < 3.50) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD INICIAL es entre 3.50 y 4.20", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServInicial').val('0.00');
                $('#txtServInicial').focus();
                $("#txtDifServ").val('0.00');
                return;
            }
        });

        $("#txtServFinal").keyup(function (e) {
            DiferenciaServicialidad();
            setState();
        });

        $('#txtServFinal').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 3.00) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD FINAL es entre 1.50 y 3.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServFinal').val('0.00');
                $('#txtServFinal').focus();
                $("#txtDifServ").val('0.00')
                return;
            }

            if (val < 1.50) {
                toastr.warning("El valor permitido para el campo SERVICIALIDAD FINAL es entre 1.50 y 3.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtServFinal').val('0.00');
                $('#txtServFinal').focus();
                $("#txtDifServ").val('0.00')
                return;
            }
        });

        $("#txtValorConfIng").keyup(function (e) {
            $("#txtConfiab").val($("#txtValorConfIng").val());
            calcularDesviacionEstandar();
        });

        $('#txtValorConfIng').focusout(function (e) {

            var val = parseFloat($(this).val());

            if (val > 99.00) {
                toastr.warning("El valor permitido para el campo CONFIABILIDAD es entre 50.00 y 99.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtValorConfIng').val('0.00');
                $('#txtConfiab').val('0.00');
                $('#txtDesvEstandar').val('0.00');
                $('#txtValorConfIng').focus();
                return;
            }

            if (val < 50.00) {
                toastr.warning("El valor permitido para el campo CONFIABILIDAD es entre 50.00 y 99.00", 'ADVERTENCIA', { timeOut: 2000 });
                $('#txtValorConfIng').val('0.00');
                $('#txtConfiab').val('0.00');
                $('#txtDesvEstandar').val('0.00');
                $('#txtValorConfIng').focus();
                return;
            }
        });
    });

    function DiferenciaServicialidad() {

        strServInicial = document.getElementById("txtServInicial").value;
        strServFinal = document.getElementById("txtServFinal").value;

        if (strServInicial == '') {
            toastr.warning("Ingrese Servicialidad Inicial!", 'ALERTA', { timeOut: 2000 });
            return;
        }

        if (strServFinal == '') {
            toastr.warning("Ingrese Servicialidad Final!", 'ALERTA', { timeOut: 2000 });
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/CalcularDifServiciabilidad',
            data: { 'ServInicial': strServInicial, 'ServFinal': strServFinal },
            success: function (respuesta) {
                document.getElementById("txtDifServ").value = parseFloat(respuesta).toFixed(2);
                setState();
            },
            error: function (xhr, status) {
                alert("ERROR");
            }

        });
    }

    //
    function calcularConfiabilidadEE() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {


            var str_valor_ee = $("#txtCantidadESAL").val();
            var d_valor_ee = Number(str_valor_ee.replace(/,/g, '')).toFixed(2);

            var val_conf_ee = 0.00;

            if (d_valor_ee >= 150001.00 && d_valor_ee <= 300000.00) {
                val_conf_ee = 70.00;
            }
            else if (d_valor_ee >= 300001.00 && d_valor_ee <= 500000.00) {
                val_conf_ee = 75.00;
            }
            else if (d_valor_ee >= 500001.00 && d_valor_ee <= 1000000.00) {
                val_conf_ee = 80.00;
            }
            else if (d_valor_ee >= 1000001.00 && d_valor_ee <= 5000000.00) {
                val_conf_ee = 85.00;
            }
            else if (d_valor_ee >= 5000001.00) {
                val_conf_ee = 90.00;
            } else {
                val_conf_ee = 70.00;
            }

            $("#txtValorConfEE").val(val_conf_ee.toFixed(2));
            $("#txtValorConfIng").val(val_conf_ee.toFixed(2));
            $("#txtConfiab").val(val_conf_ee.toFixed(2));

            calcularDesviacionEstandar();

        } else {
            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
        }

    }

    function calcularConfiabilidadEELoadEdit() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {

            var str_valor_ee = $("#txtCantidadESAL").val();
            var d_valor_ee = Number(str_valor_ee.replace(/,/g, '')).toFixed(2);

            var val_conf_ee = 0.00;

            if (d_valor_ee >= 150001.00 && d_valor_ee <= 300000.00) {
                val_conf_ee = 70.00;
            }
            else if (d_valor_ee >= 300001.00 && d_valor_ee <= 500000.00) {
                val_conf_ee = 75.00;
            }
            else if (d_valor_ee >= 500001.00 && d_valor_ee <= 1000000.00) {
                val_conf_ee = 80.00;
            }
            else if (d_valor_ee >= 1000001.00 && d_valor_ee <= 5000000.00) {
                val_conf_ee = 85.00;
            }
            else if (d_valor_ee >= 5000001.00) {
                val_conf_ee = 90.00;
            } else {
                val_conf_ee = 70.00;
            }

            $("#txtValorConfEE").val(val_conf_ee.toFixed(2));

        }
    }

    function reglamentoCambio() {

        var idreglamento = $("#ddlReglamentoPD").val();

        if (idreglamento === "1") {
            document.getElementById("imgesal").src = "/Content/images/param_esal_1.jpg";
            $("#dvManCarr").show();
            $("#dvManPav").hide();
            $("#dvConfEE").show();

            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
            $("#txtDesvEstandar").val('0.00');

        } else {
            document.getElementById("imgesal").src = "/Content/images/param_esal_6.jpg";
            $("#dvManPav").show();
            $("#dvManCarr").hide();
            $("#dvConfEE").hide();

            $("#txtValorConfEE").val('');
            $("#txtValorConfIng").val('0.00');
            $("#txtConfiab").val('0.00');
            $("#txtDesvEstandar").val('0.00');
        }

        document.getElementById("ddlReglamento").value = $("#ddlReglamentoPD").val();

    }

    function calcularDesviacionEstandar() {


        strConf = document.getElementById("txtConfiab").value;

        if (strConf == '') {
            toastr.warning("Ingrese Confiabilidad!", 'ADVERTENCIA', { timeOut: 2000 });
            return;
        }

        if (strConf == '0' || strConf == '0.00') {
            toastr.warning("Ingrese Confiabilidad!", 'ADVERTENCIA', { timeOut: 2000 });
            return;
        }

        $.ajax({
            method: 'POST',
            url: '/ParametrosAsfalto/CalcularDesviacionEstandar',
            data: { 'ValorConfiabilidad': strConf },
            success: function (respuesta) {

                document.getElementById("txtDesvEstandar").value = respuesta;

                setState();
            },
            error: function (xhr, status) {
                alert("ERROR DE CÓDIGO");
            }

        });

    }
    //

</script>
