﻿@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{ ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />
<input type="hidden" id="idIngeniero" />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="col-lg-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            Consulta de Proyectos
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="btn-group float-right" role="group">
                    <button type="button" id="btnNuevo" class="btn btn-primary" onclick="location.href='@Url.Action("Aplicaciones", "Seguridad")'"><span class="icon-page" ></span> Nuevo Proyecto</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo Diseño</label>
                        @Html.DropDownList("ddlTipoDiseno", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Proyecto N° :</label>
                        <input id="col1_filter" data-id="1" type="text" placeholder="Proyecto" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Proyecto</label>
                        <input id="datetimepicker1" type="text" placeholder="Fecha Proyecto" class="mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
                <div class="form-group col-md-4" style="display:none">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Contrato</label>
                        <input id="datetimepicker2" type="text" placeholder="Fecha Fin Contrato" class="mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Departamento</label>
                        @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Provincia</label>
                        @Html.DropDownList("ddlProvincia", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-inline">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Distrito</label>
                        @Html.DropDownList("ddlDistrito", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group">
                        <button type="button" id="btnBuscar" class="btn btn-outline-primary small"><span class="icon-search"></span> Consultar</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group">
                        <button type="button" id="btnExportar" class="btn btn-outline-primary small"><span class="fa fa-file-excel-o"></span> Exportar</button>
                    </div>
                </div>
            </div>
            <br />
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-right" role="group">
                        <button type="button" id="btnComparar" class="btn btn-outline-primary small"><span class="icon-list"></span> Reporte Comparativo</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="example" class="display" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-sm-center" id="Check"></th>
                            <th class="text-sm-center" id="Num_Proyecto">Num.</th>
                            <th class="text-sm-center" id="Proyecto">Proyecto</th>
                            <th class="text-sm-center" id="Fecha">Fecha</th>
                            <th class="text-sm-center" id="Ingeniero">Ingeniero</th>
                            <th class="text-sm-center" id="Num_Diseno">Num.Diseño</th>
                            <th class="text-sm-center" id="Tipo_Diseno">Tip.Diseño</th>
                            <th class="text-sm-center" id="Tramo">Tramo</th>
                            <th class="text-sm-center" id="Ubigeo">Ubigeo</th>
                            <th class="text-sm-center" id="Reporte">Opciones</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <!-- Modal-->

    @using (Html.BeginForm("Export", "Home", FormMethod.Post))
    {
        <input type="hidden" name="idtipodiseno" />
        <input type="hidden" name="iddiseno" />
        <input type="submit" id="btnSubmit" value="Export" style="display:none" />
    }

    @using (Html.BeginForm("ExportComparativo", "Home", FormMethod.Post))
    {
        <input type="hidden" name="iddisenoasf" value="0" />
        <input type="hidden" name="iddisenoado" value="0"/>
        <input type="hidden" name="iddisenocon" value="0"/>
        <input type="submit" id="btnSubmitComparativo" value="Export" style="display:none" />
    }

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <h6 class="modal-title" id="deleteModalLabel">...</h6>
                            <input type="hidden" id="hidIdProyecto" />
                            <input type="hidden" id="hidIdDiseno" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btnEliminarProy" class="btn btn-primary">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="divEmployee" style="display:none">
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    var dataProyecto = [];
    var dataRowsPdf = [];

    $(document).ready(function () {


        $("#ddlDepartamento").change(function () {
            cambiaDepartamento($("#ddlDepartamento").val());
        });

        $("#ddlProvincia").change(function () {
            cambiaProvincia($("#ddlProvincia").val());
        });

        cambiaDepartamento($("#ddlDepartamento").val());

        CargarGrilla(); //Cargamos el DataTable

        $("#btnBuscar").click(function () {
            $('#example').dataTable().fnDestroy();
            CargarGrilla();
        });

       $("#btnEliminarProy").click(function () {

           val_Id_Proyecto = document.getElementById("hidIdProyecto").value;
           val_Id_Diseno = document.getElementById("hidIdDiseno").value;
           strIdUsuario = document.getElementById("txtidUsuario").value;

           $.ajax
            ({
                method: 'POST',
                url: '/Home/EliminarProyDiseno',
                data: { 'Id_Proyecto': val_Id_Proyecto, 'Id_Diseno': val_Id_Diseno, 'Id_Usuario' : strIdUsuario },
                success: function (respuesta) {
                    if (respuesta == 1) {

                        $("#deleteModal .close").click();

                        $('#example').dataTable().fnDestroy();
                        CargarGrilla(); //Cargamos el DataTable

                        toastr.success("El proyecto " + val_Id_Proyecto + " fue eliminado!" , 'ASOCEM', { timeOut: 2500 });
                    }
                    else {
                        toastr.error("Hubo un error al eliminar el registro!", 'ERROR', { timeOut: 2000 });
                    }
                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });



        });

        $("#btnExportar").click(function () {
            exportTableToExcel("example","ProyectosDiseno");
        });

        $("#btnComparar").click(function () {
            reporteComparativo();
        });
    });

    function cambiaDepartamento(idDepartamento) {
        // var dd2 = document.getElementById("idIngeniero");
        //alert(dd2.value);
        var dd = document.getElementById("ddlProvincia");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlProvincia").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Departamento incorrecto");
        });


        var objData = {};
        objData["idDepartamento"] = idDepartamento;

        $.ajax({
            type: "POST",
            url: '/Home/ListaProvincias',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (provincias) {

                var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

                });


                dd.disabled = false;

                cambiaProvincia($("#ddlProvincia").val());
            }

        });
    }

    function cambiaProvincia(idProvincia) {

        var dd = document.getElementById("ddlDistrito");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlDistrito").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Distrito incorrecto");
        });


        var objData = {};
        objData["idProvincia"] = idProvincia;

        $.ajax({
            type: "POST",
            url: '/Home/ListaDistritos',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (distritos) {

                var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Distrito, item.id_Distrito);

                });

                dd.disabled = false;

            }

        });

    }

    function CellClickReporte(Id_TipoDiseno, IdDiseno) {

        cargarReporte(Id_TipoDiseno,IdDiseno);
    };

    function CargarGrilla() {

        var strNumProyecto = document.getElementById("col1_filter").value;
        var strFechaProyecto = document.getElementById("datetimepicker1").value;
        var strFechaContrato = document.getElementById("datetimepicker2").value;
        var strIdDepartamento = $("#ddlDepartamento").val();
        var strIdProvincia = $("#ddlProvincia").val();
        var strIdDistrito = $("#ddlDistrito").val();
        var IdIngeniero = document.getElementById("idIngeniero").value;
        var stridTipoDiseno = $("#ddlTipoDiseno").val();
        var strIdUsuario = document.getElementById("txtidUsuario").value;

        if (IdIngeniero == "") { IdIngeniero = 0; }
        if ($("#ddlDistrito").val() == "(Selecciona)") { strIdDistrito = 0; }
        if ($("#ddlProvincia").val() == "Espere...") { strIdProvincia = 0; }

        var objData = {};

        objData["NumProyecto"] = strNumProyecto;
        objData["FechaProyecto"] = strFechaProyecto;
        objData["FechaContrato"] = strFechaContrato;
        objData["IdUsuario"] = strIdUsuario;
        objData["Distrito"] = strIdDistrito;
        objData["Provincia"] = strIdProvincia;
        objData["Departamento"] = strIdDepartamento;
        objData["idTipoDiseno"] = stridTipoDiseno;

        table =
            $('#example').dataTable({
                "searching": false,
                "ajax": {
                    "url": "/Proyectos/ListarProyectos",
                    "type": "POST",
                    "data": objData,
                    "dataType": "json"
                },
                "columns": [
                    {
                        data: null,
                        className: "text-center",
                        "render": function (data) {
                            var strDiv;

                            if (data.Id_Diseno != 0) {
                                strDiv = '<div><input type="checkbox" id="chk_' + data.Id_Diseno + '_' + data.Id_TipoDiseno +'" name="chk_' + data.Id_Diseno + '"> <input type="hidden"  id="hidcompiddiseno_' + data.Id_Diseno + '" value="' + data.Id_Diseno + '"> <input type="hidden"  id="hidcomptipodiseno_' + data.Id_TipoDiseno + '" value="' + data.Id_TipoDiseno + '"></div>'
                            }
                            else {

                                strDiv = '';

                            }

                            return strDiv;
                        }
                    },
                    { "data": "Num_Proyecto", "class": "text-left" },
                    { "data": "Proyecto", "class": "text-left" },
                    { "data": "Fecha_Proyecto_Date", "class": "text-center" },
                    { "data": "Ingeniero", "class": "text-center" },
                    { "data": "Num_Diseno", "class": "text-left" },
                    { "data": "Tipo_Diseno", "class": "text-center" },
                    { "data": "Tramo", "class": "text-left" },
                    { "data": "Ubigeo", "class": "text-left" },
                    {
                        data: null,
                        className: "text-center",
                        "render": function (data) {
                            var strDiv;

                            if (data.Id_Diseno != 0) {
                                strDiv = '<div class="btn-group btn-group-sm"><button type="button" id="ButtonReporte" onclick="CellClickReporte(\'' + data.Id_TipoDiseno + '\',\'' + data.Id_Diseno + '\' );" class="btn btn-outline-primary editor_report" data-id="1" data-toggle="modal" data-target="#exampleModal"><span class="icon-list"></span></button>' +
                                    '<button type="button" id="ButtonEditar" onclick="EditarProyectoDiseno(\'' + data.Id_Diseno + '\',\'' + data.Id_TipoDiseno + '\');" class="btn btn-outline-primary"><span class="icon-form"></span></button>' +
                                    '<button type="button" id="ButtonEliminar" onclick="EliminarProyectoDiseno(\'' + data.Id_Diseno + '\');"  class="btn btn-outline-danger" data-id="1" data-toggle="modal" data-target="#deleteModal"><span class="icon-close"></span></button></div>';


                            }
                            else {
                                strDiv = '';
                            }
                            return strDiv;
                        }
                    }
                ],

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });


        //para seleccionar una opcion
        $('#example tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    }

    function EliminarProyectoDiseno(Id_Diseno)
    {
        document.getElementById("hidIdDiseno").value = Id_Diseno;

        document.getElementById("deleteModalLabel").innerHTML = 'Está seguro de eliminar el diseño ' + Id_Diseno + '?';
    }

    function EditarProyectoDiseno(Id_Diseno,Id_TipoDiseno)
    {
        location.href = '@Url.Action("EditarProyDiseno", "Home")?Id_Diseno=' + Id_Diseno + '&Id_TipoDiseno=' + Id_TipoDiseno;

    }

    function cargarReporte(Id_TipoDiseno, Id_Diseno) {
        $("input[name='idtipodiseno']").val(Id_TipoDiseno);
        $("input[name='iddiseno']").val(Id_Diseno);
        $("#btnSubmit").click();
    }

    function exportTableToExcel(tableID, filename = '') {

        var htmls = $("#"+tableID).html();
        var uri = 'data:application/vnd.ms-excel;base64,';
        var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
        var base64 = function (s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        };

        var format = function (s, c) {
            return s.replace(/{(\w+)}/g, function (m, p) {
                return c[p];
            })
        };

        var ctx = {
            worksheet: 'Worksheet',
            table: htmls
        }


        var link = document.createElement("a");
        link.download = filename + ".xls";
        link.href = uri + base64(format(template, ctx));
        link.click();

    }

    function reporteComparativo() {

        $("input[name='iddisenoado']").val('0');
        $("input[name='iddisenoasf']").val('0');
        $("input[name='iddisenocon']").val('0');

        var selectors = '[id^="chk_"]';

        var arrchecks = document.querySelectorAll(selectors);

        var contchecks = 0;

        var arrdiseno = [];

        for (var i = 0; i < arrchecks.length; i++) {
            var check = arrchecks[i];

            if (check.checked) {
                contchecks++;

                var idtagchek = check.id;
                var idtag = idtagchek.split('_');

                var diseno = {
                    id: $("#hidcompiddiseno_" + idtag[1]).val(),
                    idtipo: $("#hidcomptipodiseno_" + idtag[2]).val(),
                };

                arrdiseno.push(diseno);
            }
               
        }

        if (contchecks === 0) {
            toastr.warning("Para ver el reporte debe seleccionar al menos 2 tipos de diseños diferentes", 'ADVERTENCIA', { timeOut: 2000 });
        } else {

            //1 diseno por tipo
            var cantasf = arrdiseno.filter(a => a.idtipo === '1');
            var cantaado = arrdiseno.filter(a => a.idtipo === '2');
            var cantcon = arrdiseno.filter(a => a.idtipo === '3');

            if (cantasf.length > 1) {
                toastr.warning("Solo se compara 1 diseño por tipo", 'ADVERTENCIA', { timeOut: 2000 });
                return;
            } else {
                if (cantasf.length === 1)
                    $("input[name='iddisenoasf']").val(cantasf[0].id);
            }
                
            if (cantaado.length > 1) {
                toastr.warning("Solo se compara 1 diseño por tipo", 'ADVERTENCIA', { timeOut: 2000 });
                return;
            } else {
                if (cantaado.length === 1)
                    $("input[name='iddisenoado']").val(cantaado[0].id);
            }

            if (cantcon.length > 1) {
                toastr.warning("Solo se compara 1 diseño por tipo", 'ADVERTENCIA', { timeOut: 2000 });
                return;
            } else {
                if (cantcon.length === 1)
                    $("input[name='iddisenocon']").val(cantcon[0].id);
            }

            var cantcomp = cantasf.length + cantaado.length + cantcon.length;

            if (cantcomp < 2) {
                toastr.warning("Para ver el reporte debe seleccionar al menos 2 tipos de diseños diferentes", 'ADVERTENCIA', { timeOut: 2000 });
                return;
            }

            $("#btnSubmitComparativo").click();

        }
    }

</script>


